
<!-- index.html -->

<!DOCTYPE html>
<html>
<head>

    <!-- CSS (load bootstrap) -->
    <title>External Data Intelligence</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.css">
    <!-- <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css"> -->

    <!-- Js Tree -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/jstree.css">
    <link rel="stylesheet" type="text/css" href="css/d3.css">
    <link rel="stylesheet" type="text/css" href="css/chosen.css">

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/ui-grid.css">
    <link rel="stylesheet" type="text/css" href="css/angular-ui-switch.css">
    <link rel="stylesheet" type="text/css" href="css/angucomplete.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>-->



    <script src="frameworks/jquery.js"></script>
    <script src="frameworks/chosen.jquery.js"></script>
    <script src="frameworks/jstree.js"></script>
    <script src="frameworks/d3.js"></script>
    <script src="frameworks/dragula.js"></script>
    <script src="frameworks/bootstrap.min.js"></script>

    <script src="frameworks/angular.js"></script>
    <script src="frameworks/angular-ui-router.min.js"></script>
    <script src="frameworks/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="frameworks/ui-grid.js"></script>
    <script src="frameworks/angular-chosen.js"></script>
    <script src="frameworks/angular-ui-switch.js"></script>
    <script src="frameworks/angucomplete.js"></script>
    <script src="frameworks/lodash.js"></script>
    <!-- Modules -->
    <script src="modules/context_menu.js"></script>
    <script src="modules/d3Module.js"></script>

</head>

<body ng-app="SegmentationApp" ng-cloak>
    <nav class="navbar segmentation-header" role="navigation">
        <div class="navbar-header">
            External Data Intelligence
        </div>
        <span class="text-warning pull-right" ng-show="!license">Your license has expired</span>
    </nav>
    <div class="container">
        <div class="alert alert-{{Alert.messageType}} panel-body alert-body" ng-if="Alert.messageStatus">
            <a href="#" class="close" data-dismiss="alert" ng-click="Alert.messageStatus = false;">&times;</a>
            <strong>{{Alert.strongMessage}}</strong> {{Alert.message}} <span class="text-warning">{{Alert.errorMessage? ', ' + Alert.errorMessage : ''}}</span>
        </div>
    </div>


    <div ui-view></div>
    <div information-modal></div>
    <div view-contacts-modal></div>
    <div view-existing-segments-modal></div>
    <div view-sync-reports-modal></div>
    <div ds-sync-reports-modal></div>


    <!-- App Start -->
    <script src="app.js"></script>
    <script src="appDomHandles.js"></script>
    <script src="constants.js"></script>

    <!-- Services -->
    <script src="services/apiCalls.js"></script>
    <script src="services/popup.js"></script>
    <script src="services/common.js"></script>

    <!-- extra -->
    <script src="extra/MaskedPassword.js"></script>


    <!-- Directives -->
    <script src="directives/info.js"></script>
    <script src="directives/customElements.js"></script>
    <script src="directives/compareElqFields.js"></script>
    <script src="directives/logical.js"></script>
    <script src="directives/soqlQuery.js"></script>
    <script src="directives/viewSegmentMembers.js"></script>
    <script src="directives/viewExistingSegments.js"></script>
    <script src="directives/viewSyncReports.js"></script>
    <script src="directives/dsSyncReports.js"></script>

    <!-- Filters -->
    <script src="filters.js"></script>

    <!-- Controllers -->
    <script src="controller/users.js"></script>
    <script src="controller/feeder.js"></script>
    <script src="controller/fieldMapping.js"></script>
    <script src="controller/decisionService.js"></script>
    <script src="controller/imports.js"></script>
    <script src="controller/errors.js"></script>


</body>
</html>
