.bar:hover{
	transform: scale(1.1);
}

.bar-created {
    fill: #5cb85c;
    /*stroke-width: 1;*/
    /*stroke: #d6e9c6;*/
}
.bar-updated {
    fill: #5bc0de;
    /*stroke-width: 1;*/
    /*stroke: #bce8f1;*/
}
.bar-failed {
    fill: #d9534f;
    /*stroke-width: 1;*/
    /*stroke: #ebccd1;*/
}
.axis text {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}