body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    background: #f5f5f5;
}
.padding-left-0{
    padding-left: 0;
}
.padding-left-26{
    padding-left: 26px;
}
.padding-right-0{
    padding-right: 0;
}

.margin-top-5px{
    margin-top: 5px;
}
.clear-both{
    clear:both;
}

.alert-success,.alert-danger,.alert-warning{
    color: #333;
}

.btn,.form-control,.panel{
    border-radius: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.stand-title{
    font-weight: bold;
    font-size: 13px;
}


.form-control{
    height: 22px;
}
.frm-btn{
    padding: 3px;
    font-weight: 700;
}
.btn-default.frm-btn{
    color: #333;
    opacity: 1;
}

.table{
    background: #fff;
}

.mapped-fields-row{
    width: 28.45%;
}

.mapped-fields-row span{
    float: right;
    font-size: 10px;
    display: inline-block;
    margin-top: 4px;
    color: #a29d9d;

}

.typedField .type{
    float: right;
    font-size: 10px;
    display: inline-block;
    margin-top: 4px;
    color: #a29d9d;
}

.add-button{
    margin-bottom: 20px;
}



.action{
    padding: 1px;
    height: 22px;
    border-radius: 0px;
    padding: 0px 5px 0px 5px;
}

.disable-li>a{
    cursor: no-drop!important;
    opacity: 0.9;
    background: white!important;
}

.action .icon-bar {
    background-color: #000;
    display: block;
    width: 14px;
    height: 2px;
    border-radius: 1px;
}

.action .icon-bar:not(.ic-l) {
    margin-bottom: 2px;
}

#existingObjectsMenu+.dropdown-menu,.options{
    border-radius: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    min-width: 0px;
    width: auto;
}
#existingObjectsMenu+.dropdown-menu,.options >li>a{
    cursor: pointer;
}

.close:disabled {
    cursor: not-allowed;
}
.es-row{
    transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;

    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
}
.row-selected{
    background-color: #d9e9ec !important;
    /*transform:  scale(1.02);
    -webkit-transform:  scale(1.02);
    -moz-transform:  scale(1.02);
    -o-transform:  scale(1.02);
    -ms-transform:  scale(1.02);*/
}

#existingObjectsMenu{
    width: 50%;
    float:left;
    height: 25px;
    margin-right: 10px;
}
#existingObjectsMenu+.dropdown-menu{
    width: 29.1%;
    max-height: 200px;
    border-radius: 0px;
    overflow-y: scroll;
    float:left;
}

.fa-blue{
    color:#72e3f7;
}

.well{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    border-radius: 0px;
}
.typeaheads{
    width:100%;
	padding: 0px 10px;
}
.typeaheads+.dropdown-menu{
    width: 34.7%;
    max-height: 200px;
    border-radius: 0px;
    overflow-y: scroll;
    float:left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.prior{
    width: 300px!important;
}
.close-ctrl{
    border-right: none;
}
.close-ctrl+ul+span{
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: -10px;
    padding: 3px 10px;
    background: white;
    cursor: context-menu;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-left: none;
    transition: 0.2s all;
}
.close-ctrl:focus+ul+span{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    border-left: none;
}
.close-ctrl+ul+span:hover{
    color: #201e1e;
    text-shadow: 0 0 0 #332f2f;
}

.close-ctrl.pull-left{
    width: 92%;
}

.user-parent-format{
    width: 92%;
}
@media only screen and (max-width: 1000px){
    .close-ctrl.pull-left{
        width: 86%;
    }

    .user-parent-format{
        width: 100%;
    }
}

.close-ctrl.pull-left+ul+span{
    padding: 1.5px 10px;
}
.dropdowns{
    padding: 0px;
}



/*admin parent tree view */
.admin-tree-view{
    padding: 5px 12px;
    background: white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 999999;
}
.admin-tree-body{
    width: auto!important;
    max-width: 300px!important;
}


/**/
#importPriority .panel-heading,#decisionSettings .panel-heading{
    background: white;
    border-bottom: none;
    color: #333;
    font-size: 12px;
    line-height: 1.42857143;
    font-weight:700;
    padding: 12px 16px 0;
}

#importPriority .panel-body{
    padding-top: 0;
}

.seg-form .form-control{
    padding: 0 6px;
    height: 25px;
}
.seg-form button:not(.pull-right), .table-list .frm-btn {
    width:70px;
}

.modal-content{
    border-radius: 0px;
}

.modal-footer,.modal-header {
    padding: 4px;
}
.modal-header{
    background: #f3f3f3;
}
.modal-footer{
    border-top: none;
}

.seg-form span{
    color:red;
}

.modal-footer > button{
    padding:1px 14px;
}
.modal-dialog{
    top: 50%;
    margin-top: -93px;
}
.modal-body{
    height:118px;
}


#dependencies .modal-dialog{
    top: 50%;
    margin-top: -93px;
}

#dependencies .modal-body{
    height:inherit;
    max-height: 400px;
    overflow-y: scroll;
}


#fielddependencies .modal-dialog{
    top: 50%;
    margin-top: -93px;
}

#fielddependencies .modal-body{
    height:inherit;
    max-height: 400px;
    overflow-y: scroll;
}


#instancedependencies .modal-dialog{
    top: 50%;
    margin-top: -93px;
}

#instancedependencies .modal-body{
    height:inherit;
    max-height: 400px;
    overflow-y: scroll;
}



@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }
}
.testConn{
	margin-right: 5px !important;
  width: 100px;
}

.syncButton {
  width: 100px;
}


.savebtn{
	margin-left: 5px !important;
}

.cancelbtn{
	margin-left: 5px !important;
}

/*Feeder*/
.segmentation-loader{
    height: 2px;
    margin-bottom: -2px;
    z-index: 1000;
}
.segmentation-loader .load-bar {
    position: relative;
    width: 100%;
    height: 2px;
}


.segmentation-loader .bar {
    display: inline;
    position: absolute;
    width: 10px;
    height: 100%;
    text-align: center;
    background-color: #0572ce;

    animation-name: loadingbar;
    animation-duration: 7s;
    animation-iteration-count: infinite;

    -webkit-animation-name: loadingbar;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
}


@keyframes loadingbar {
    from {left: 0; width: 0;z-index:1000;}
    33.3333% {left: 0; width: 80%;z-index: 1000;}
    to {left: 0; width: 100%;z-index: 1000;}
}


.validation-text{
    position: absolute;
    color:red;
    top: 10px;
    left:16px;
}


.context-menu .dropdown-menu{
    border-radius: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.context-menu .dropdown-menu a{
    outline: none!important;
}
.feeder-pane-header{
    height: 38px;
    background: #f2f2f2 url(../images/tile.png);
    border-bottom: 0.5px solid #c4ced7;
    padding: 7px;
    position: relative;
}

.side-feeder-panes{
    border-right: 1px solid #c4ced7;
    border-bottom: 1px solid #c4ced7;
    height: 480px;
    background: #f9f9f9;
    z-index: 23;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}


.right-feeder-pane{
    -webkit-box-shadow: -1px 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 2px 4px rgba(0,0,0,0.2);
    box-shadow: -1px 2px 4px rgba(0,0,0,0.2);
}
.right-feeder-pane label{
    margin-bottom: 0px;
}

.feeder-btn{
    outline: none!important;
    border: 1px solid #c4ced7;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    background: #e4e8ea;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f3f3), to(#e3e7e9));
    background: -moz-linear-gradient(top, #f1f3f3, #e3e7e9);
}

.feeder-btn:hover{
    color: blue;
    background: #f7f8f9;
}
.feeder-btn[disabled],.feeder-btn[disabled]:hover {
    color: #857d7d;
}
.feeder-pane-header button{
    min-width:80px;
    font-size: 12px;
}
.feeder-pane-header button.pull-right {
    margin-right: 7px;
}
.feeder-pane-header span{
    margin-top: 2px;
    font-weight: bold;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.drops{
    position: relative;
}
.frequency-menu{
    border-radius: 0px;
    font-size: 12px!important;
}
.frequency-menu li{
    cursor: pointer;
}

.feeder-pane-header input{
    background: none;
    border:none;
    border-radius: 2px;
    font-weight: bold;
    padding: 3px 8px;
    outline: none!important;
    width: 135px;
}
/*.feeder-pane-header input+.error-msg{
    display: none;
}
.feeder-pane-header input.error+.error-msg{
    display: inline-block;
    position: absolute;
    background: aliceblue;
    border-radius: 10px;
    padding: 2px 13px;
    border: 0.5px solid blue;
    color: darkblue;
    top: 6px;
    left: 22em;
    z-index: 24;
}*/
.feeder-pane-header input.error{
    border: 1px solid #843534;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
    transition: -webkit-box-shadow 0.5s ,box-shadow 0.5s,border 0.5s;
}

.feeder-pane-header input.error.heavy {
    border: 1px solid #843534;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 24px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 24px #ce8483;
    transition: -webkit-box-shadow 0.5s ,box-shadow 0.5s,border 0.5s;
}

.feeder-pane-header input:focus{
    border:none;
}

.left-header button{
    width: 40px;
}

.left-header span{
    display: inline-block;
}

.common-pane-space{
    padding: 8px;
}

.left-header{
    border-bottom: 1px solid #d6dfe6;
    margin-bottom: 4px;
    padding: 8px;
}

#emailFields button{
    margin-right: 10px;
}

.navbar {
    z-index: 1;
}
.draft-label{
    margin:3px;
    display: inline-block;
    background: #ffd600;
    padding: 0px 8px;
    font-weight: bold;
}

.activate-label{
    background: #89c7ad;
    color:#000;
}
.turn50{
    transform:rotate(45deg);
}


.feeder-ground{
    background: url(../images/grid-active.png);
    height: 480px;
    padding-right: 0px;
    padding-left: 0px;
}

.feeder-ground .queries{
    height: 440px;
    overflow-y: auto;
}
.feeder-ground .group{
    position: absolute;
    width: 100%;
    background: #f9f9f9;
    padding-top: 8px;
    border-top: 1px solid #c4ced7;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}
.filter-options{
    font-size: 12px;
    width: 75px;
}
.filter-panel{
    margin: 1px -15px;
    padding: 4px 6px;
}
.filter-panel:hover{
    background: #e4f0fa;
}
.filter-panel.selected{
    background: #e4f0fa;
}
.filter-panel .row{
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.filter-panel .row div{
    float: left!important;
}
.filter-panel .row .content{
    width:50%;
    margin-left:7px;
}
.filter-panel .row .content .title{
    font-weight: bold;
    margin-top: 8px;
}
.filter-panel .row .content .title-as-input{
    outline: none!important;
    font-weight: bold;
    margin-top: 8px;
    width: 86.5px;
    height: 16.5px;
}
.filter-panel .row .counts{
    width: 33%;
    float: right!important;
    margin-right: -5px;
}
.filter-panel .row .counts div{
    display:block;
    width: 100%;
    clear:both;
    font-weight: bold;
}
.feeder-pane .btn{
    padding: 0px 8px;
}





.right-feeder-pane .btn{
    width: 100%;
}

.dwn-arrow {
    float: right;
    width: 0;
    height: 0;
    margin-top:6px;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.right-feeder-pane .dropdown-toggle{
    width: 95%;
}
.right-feeder-pane .dropdown-menu{
    border-radius: 0px;
    width: 95%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.right-feeder-pane .decision-sel-fields{
    overflow: scroll;
    height: 200px;
}

.grid-query{
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px;
    margin: 2px 0 0;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    list-style: none;
    width: 100%;
}
.grid-query li{
    margin: 0px -13px 0px -13px;
    padding: 5px 8px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.grid-query li i{
    color:#a0a0da;
    padding-right: 4px;
}
.grid-query li img{
    height: 16px;
    width : 15px;
}
.grid-query li:hover{
    background: #e4f0fa;
}

.grid-query li:focus,.grid-query li:active{
    background: #e4f0fa;
}

/*For Drags*/
.grid-query-li.gu-mirror{
    margin: 0px -13px 0px -13px;
    padding: 5px 8px;
    background: #e4f0fa;
    border: 3px dashed #c3bbbb;
    border-radius: 2px;
    list-style: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.grid-query-li.gu-mirror i{
    color:#a0a0da;
    padding-right: 4px;
}
.grid-query-li.gu-mirror img{
    color:#a0a0da;
    padding-right: 4px;
    width: 15px;
    height: 16px;
}
.grid-query-li.gu-transit{
    display: none!important;
}
.query-dropped-empty-area.dropper-indicator::after{
    content: "";
    display: block;
    border-bottom: 4px solid #03a9f4;
    width: 100%;
}
.query-dropped-loaded-area.dropper-indicator .query-drop-indicator-place::before{
    content: "";
    display: block;
    border-top: 4px solid #03a9f4;
    width: 94.4%;
    float: right;
    position: relative;
    top: -9px;
    left: 6px;
}
 .query-dropped-loaded-area.dropper-indicator .query-group .query-drop-indicator-place::before{
    display: none;
}
/*.query-dropped-area{
    width: 100%;
    background: transparent;
    background: red;
    height: 100%;
    min-height: 100px;
}*/
/*--------------------*/

.popover{
    border-radius: 0px;
    padding: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 12px!important;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popover-inner {
    width: 200px;
}

.feeder-pane.form-group {
    margin-bottom: 6px;
}
.query-item{
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid  #d6e9c6; /*#48a8ff*/
    border-radius: 4px;
    background-color: #e8f2fb;
    position: relative;
}

.query-item img{
    height: 33px;
    width: 35px;
}
.query-item .img-qi{
    float:left;
    margin-right: 6px;
}

.query-item.content div{
    clear:both;
    font-size: 11px;
}

.query-item .arrow{
    position: absolute;
    left:50%;
}
.query-body{
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.query-body .soql-pane-space{
    margin-right: -10px;
    margin-left: -10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.query-body .validate-soql{
    text-align: right;
}
.soql-pane-space .options-calls,.soql-pane-space .options-calls li a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

/*.query-body .soql-pane-space .where-option button{
    border: none!important;
    background: transparent!important;
    color:black!important;
    outline: none!important;
    box-shadow: none!important;
    margin-left: -14px;
    padding: 0px 0px;
}*/
.soql-pane-space .options-calls .since-last-sync-options{
    top:70%;
}


.query-body .soql-pane-space .where-option ul{
    margin-left: -155px;
    margin-top: -6px;
}

.query-body .soql-pane-space .where-option ul li span{
    padding: 2px 10px;
}

/*.background-normal{
    background: #f9f9f9;
}*/

/*.soql-options-pane{
    padding: 12px 14px;
    margin: 15px 15px;
}*/

#prChildBox.popover.right>.arrow{
    top: 108px;
}

.soql-get-parent{
    width: 260px;
}

.soql-tree-view {
    padding: 1px 0px;
    background: white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 999999;
    width: 235px;
}

.soql-options-pane .soql-insert-actions button{
    width: 100px;
}

.soql-options-pane-box .typeaheads{
    width: 210px;
    height: 22px;
    border-radius: 2px 0px 0px 2px;
    border-right-color: #fff;
    padding: 0px 14px;
}

.soql-options-pane-box .typeaheads+.dropdown-menu {
    width: 86%;
    max-height: 200px;
    border-radius: 0px;
    overflow-y: scroll;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.soql-options-pane-box>span {
    float: left;
}

.soql-options-pane-box .arrow-down {
    width: 26.2px;
    height: 22px;
    border-radius: 0px 2px 2px 0px;
    margin-left: -1px;
    padding: 2px;
    background-color: #e6e6e6;
}

.soql-options-pane .soql-panel{
    margin-top:10px;
}
.soql-options-pane-box .arrow-down .fa{
    margin: 4px -3px;
}


.jstree-default .tree-child>.jstree-node,
.jstree-default .tree-child>.jstree-icon {
    background-image: url(../images/jstree-child.png);
}

/*
.soql-options-pane .soql-label{
    display: inline-block;
    padding: 4px 0px;
    font-weight: bold;
}

.soql-options-pane .soql-insert-actions div{
    margin-top: 25px;
}
.soql-options-pane .soql-insert-actions div button{
    width: 100px;
}

.soql-options-pane-box .typeaheads{
    width: 132px;
    height: 22px;
    border-radius: 2px 0px 0px 2px;
    border-right-color: #fff;
    padding: 0px 5px;
}

.soql-options-pane-box .typeaheads+.dropdown-menu {
    width: 80%;
    max-height: 200px;
    border-radius: 0px;
    overflow-y: scroll;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.soql-options-pane-box span {
    float: left;
}

.soql-options-pane-box .arrow-down {
    width: 26.2px;
    height: 22px;
    border-radius: 0px 2px 2px 0px;
    margin-left: -1px;
    padding: 2px;
    background-color: #e6e6e6;
}

.soql-options-pane-box .arrow-down .fa{
    margin: 4px -3px;
}*/

.query-body>.query-item+.popover{
    display: block;
    top: 74px;
    left: 28%;
}
.query-chain:first-child .query-body>.query-item+.popover{
    display: block;
    top: 43px;
    left: 28%;
}



.query-body>.query-item+.popover:nth-child(2){
    display: block;
    top: 44px;
    left: 28%;
}

.feeder-ground .btn{
    font-size: 11px;
    color: #555;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
    padding: 0px 12px;
}


.query-chain{
    margin-bottom: -10px;
}
.query-chain:nth-child(n+4).query-chain:nth-last-child(1) .popover,
.query-chain:nth-child(n+4).query-chain:nth-last-child(2) .popover{
    top: -147px;
    min-height: 157px;
}


.query-chain:nth-child(n+4).query-chain:nth-last-child(1) .popover.has-rel{
    top: -242px;
    min-height: 254px;
}
.query-chain:nth-child(n+4).query-chain:nth-last-child(2) .popover.has-rel{
    top: -242px;
    min-height: 254px;
}


.query-chain:nth-child(n+4).query-chain:nth-last-child(1) .popover .arrow,
.query-chain:nth-child(n+4).query-chain:nth-last-child(2) .popover .arrow{
    top: 155px;
    left: 50%;
    margin-left: -11px;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-top-width: 10px;
    border-bottom-width: 0;
}

.query-chain:nth-child(n+4).query-chain:nth-last-child(1) .popover .arrow:after,
.query-chain:nth-child(n+4).query-chain:nth-last-child(2) .popover>.arrow:after{
    top:-10px;
    border-top-color: #ffffff;
    border-top-width: 9px;
    border-bottom-width: 0;
}


.query-chain:nth-child(n+4).query-chain:nth-last-child(1) .popover.has-rel .arrow,
.query-chain:nth-child(n+4).query-chain:nth-last-child(2) .popover.has-rel .arrow{
    top: 252px;
    left: 50%;
    margin-left: -11px;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-top-width: 10px;
    border-bottom-width: 0;
}
.query-chain:nth-child(n+4).query-chain:nth-last-child(1) .popover.has-rel .arrow{
    top: 252px;
}


.query-group .indents-start{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: default;
}
.query-group .indentation{
    margin-left: 16px;
}

.query-group .indents-end{
    margin-bottom: 30px;
    margin-top: 26px;
    font-weight: bold;
    cursor: default;
}

.query-group .selected-group{
    background: #afd9f4;
}



.query-popup .popover-content {
    padding: 9px 5px;
    width: 248px;
}
.query-popup .header{
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
    word-break: break-word;
}
.query-popup .content{
    margin-top:6px;
}
.query-popup .content span{
    float:left;
}
.query-popup .arrow-down{
    width:26.2px;
    height: 22px;
    border-radius: 0px 2px 2px 0px;
    margin-left: -1px;
    padding: 2px;
    background-color: #e6e6e6;
}
.query-popup .arrow-down:hover{
    color:#0572ce;
}



.query-popup .content .typeaheads{
    width:212px;
    height: 22px;
    border-radius: 2px 0px 0px 2px;
    border-right-color: #fff;
    padding: 0px 5px;
}

.query-popup .content .typeaheads:focus{
    border-color: #ccc;
    border-right-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.query-popup .content .t01 + .dropdown-menu{
    width: 238px;
}
.query-popup .content .t02 + .dropdown-menu{
    width: 176px;
}
.query-popup .content .value{
    width:100%;
    height: 22px;
    padding: 0px 5px;
}
.query-popup .content .value:focus{
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.query-popup .eloqua-fields-confirmation{
    float: left;
}

.query-popup .eloqua-fields-confirmation span+span{
    display: block;
    padding: 3px 2px;
}



.query-popup .content .not input{
    width:150px;
    height: 22px;
    border-radius: 2px 0px 0px 2px;
    border-right-color: #fff;
    padding: 0px 5px;
}
.query-popup .content .dyn-days input{
    width: 70px;
}
.query-popup .content .dyn-days .and{
    display: inline-block;
    margin: 2.5px 9.4px;
}

.query-popup .content .num-date-count{
    width: 54px;
    margin-right: 10px;
}

.query-popup .content .num-date-unit{
    width: 64px;
}




.query-popup .content input[type=checkbox]{
    height: 16px;
    width: 16px;
    margin-right: 2px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.query-popup .content input[type=checkbox]:before{
    position: relative;
    display: block;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    border: 1px solid #0572ce;
    border-radius: 3px;
    content: "";
    background: #FFF;
}

.query-popup .content input[type=checkbox]:disabled:before{
    position: relative;
    display: block;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    border: 1px solid #efeff1;
    border-radius: 3px;
    content: "";
    background: #efeff1;
}

.query-popup .content input[type=checkbox]:checked:before{
    position: relative;
    display: block;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    border: 1px solid #0572ce;
    border-radius: 3px;
    background:#0572ce;
    content: "\f00c";
    color:white;
    padding: 1px 1px;
}


.query-popup .content .text-not{
    padding: 2.5px 24.7px 0px 2px;
}

.query-date+div .uib-datepicker,
.query-date+div .uib-daypicker,
.query-date+div .uib-monthpicker,
.query-date+div table{
    outline: none!important;
}

.query-date+div table{
    width: 284px;
    margin-left: 10px;
    margin-right: 10px;
}
.query-date+div table .uib-left,
.query-date+div table .uib-right,
.query-date+div table .uib-title{
    border: none;
    font-size: 15px;
}

.query-date+div table .uib-title{
    font-size: 18px;
    color:#85bae7;
    font-weight: 400;
}

.query-date+div table .uib-left:hover,
.query-date+div table .uib-right:hover,
.query-date+div table .uib-title:hover{
    background: white;
    opacity: 0.7;
}
.query-date+div table .uib-day button,
.query-date+div table .uib-month button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 40px;
    margin-bottom: 0px;
    outline: none!important;
}

.query-date+div table .uib-month button.active,
.query-date+div table .uib-day button.active,
.query-date+div table .uib-month button.active .text-info,
.query-date+div table .uib-day button.active .text-info{
    color: white;
    background: #0572ce;
}

/*.query-date+div .uib-monthpicker table{
    width: 210px;
    margin: 2px 25px;
}*/

.query-date+div table td.uib-month{
    width: 33%;
    padding: 0px 26px;
}

.query-date+div table td.uib-month button{
    padding-left: 10px;
}

.selected-query{
    border-color: #48a8ff;
}

.tree-area{
    background: #ffffff;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    margin-top: 10px;
    border: 1px solid #cccccc;
}

.jstree{
    outline: none!important;
    max-height: 250px;
    max-width: 238px;
    overflow-x: auto;
}

.tree-area .jstree-default .jstree-themeicon{
    display: none;
}



.query-popup .content .between{
    width: 32%;
    float: left;
}
.query-popup .content .num .between{
    width: 37%;
}

.query-popup .content .between + span + .between{
    float: right;
}
.query-popup .content .num span{
    margin-left: 21px;
    margin-top: 4px;
}
/*.query-popup .content .between + .between{
    float: right;
}*/

.between+div+span+span{
    padding: 5px 7px 0px 7px;
}

.query-item-defination{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
}

.feeder-ground .btn.un-group{
    background: #0572ce;
    color: #ffffff;
    border-radius: 4px;
}
/*View Segment Members*/
.modal-view-segment{
    top: 21%;
    height: 480px;
    width: 95%;
}

.modal-view-segment .modal-header{
    padding: 4px;
}
.modal-view-segment .modal-footer{
    background: #f3f3f3;
    border-top: 1px solid #e5e5e5;
    padding: 2px 15px;
}
.modal-view-segment .dismiss{
    font-weight: bold;
    color: #ffffff!important;
    background-color: #0572ce;
    background: -webkit-linear-gradient(bottom, #0470c9, #0571cd, #0479d8);
    background: -moz-linear-gradient(bottom, #0470c9, #0571cd, #0479d8);
    border: 1px solid #0476d3;
    box-shadow: 0px 0px;
}
.modal-view-segment .modal-footer button{
    width: 100px;
    padding: 2px 14px;
    border-radius: 2px;
}
.modal-view-segment .modal-body{
    min-height: 424px;
    background: #D8D8D8;
}
.modal-view-segment .data{
    margin:0px -15px;
    min-height: 410px;
    background: #e5e5e6;
}
.modal-view-segment .data .btn-group{
    margin-top: -24px;
}
.modal-view-segment .data .btn-group .btn{
    font-size: 12px;
    padding: 0px 8px;
}
.modal-view-segment .data{
    padding: 4px 15px;
}

.modal-view-segment .form-control{
    padding: 4px 6px;
}

.modal-view-segment .form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-view-segment .data-head-info .pull-right{
    width: 300px;
}

.modal-view-segment .data-head-info .pull-right input{
    padding: 4px 6px;
}

.modal-view-segment .data-head-info .view-type span{
    float: left;
}
.modal-view-segment .data-head-info .view-type span.first{
    margin-top: 3px;
}
.modal-view-segment .data-head-info .view-type input{
    width: 202px;
    margin-right: -9px;
}
.modal-view-segment .data-head-info .view-type span+span+span{
    margin-left: 8px;
    padding: 1.5px 8px;
}
.modal-view-segment .data-head-info .row {
    margin-right: 0px;
    margin-left: 0px;
}
.modal-view-segment .table-data .grid{
    height: initial!important;
    max-height: 300px;
    margin: 6px 0px;
    width: 800px!important;
}


.modal-view-segment .data .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.modal-view-segment .data .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.modal-view-segment .ui-grid-column-menu-button{
    display: none;
}
.modal-view-segment .ui-grid-header-cell-primary-focus{
    background: #f2f4f7;
}
.modal-view-segment .ui-grid-header-cell-primary-focus,.close{
    outline: none!important;/*//#f2f4f7*/
}
.modal-view-segment .ui-grid-cell-contents{
    padding: 2px 5px;
}
.modal-view-segment .ui-grid-canvas .ui-grid-row  .ui-grid-cell.row-selected{
    background: #cfe8fc!important;
}
.modal-view-segment .ui-grid-canvas .ui-grid-row:hover .ui-grid-cell{
    background: #ebeced;
}
.modal-view-segment .ui-grid-row:nth-child(even) .ui-grid-cell{
    background-color:#f9f9f9;
}
.modal-view-segment .ui-grid-header-cell-label+span{
    position: absolute;
    right: 8px;
}

@-moz-document url-prefix() {
    .modal-view-segment .ui-grid, .ui-grid-viewport {
        min-height: 300px;
    }
}


/*existing-segments*/
.existing-segments.modal-body{
    max-height: 900px;
}
.existing-segments .well{
    margin-bottom: 0px;
}
.existing-segments .segments-list{
    max-height: 280px;
    overflow-y: scroll;
    margin-top: -22px;
}


.exseg-row{
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.existing-segments thead tr{
    border-bottom: 3px solid #ddd;
}
.existing-segments thead tr th:first-child,
.existing-segments tbody tr td:first-child{
    padding-left: 36px;
}
.existing-segments thead tr th:not(:first-child){
    padding-left: 12px;
}
.existing-segments thead tr th{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.existing-segments .seg-col{
    width: 20%;
    cursor: pointer;
}

.existing-segments .seg-col.first-col{
    display: inline-block;
    overflow-wrap: break-word;
    width: 138px;
}

/*Sync Reports*/
.sync-reports {
    max-height: 400px;
    overflow-y: scroll;
}

.sync-reports .well{
    background: white;
}

.sync-reports .overview{
    color: #85757c;
    padding-left: 10px;
}

.sync-reports .numbers-box{
    color: #85757c;
    border: 1px solid #e9eef2;
}

.sync-reports table{
    width:100%;
}

.sync-reports .numbers-box table{
    margin: 10px 0px;
    color: #85757c;
}

.sync-reports .numbers-box .total-imported{
    color: #32a1dd;
}

.sync-reports .numbers-box .total-exported{
    color: #e4619a;
}

.sync-reports .numbers-box .record-process-label{
    color: #b0b3bc;
}
.sync-reports .nav-execution span{
    display: inline-block;
    padding: 4px 0;
}
.sync-reports .nav-execution button{
    padding: 2px 22px;
    border-radius: 6px;
    background: #41aad4; /* Old browsers */
    background: -moz-linear-gradient(top, #41aad4 67%, #76b7ba 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #41aad4 67%,#76b7ba 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #41aad4 67%,#76b7ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41aad4', endColorstr='#76b7ba',GradientType=0 ); /* IE6-9 */
    color: azure;
    outline: none!important;
    border-color: #fefeff;
}
.sync-reports .nav-execution button:active{
    border-color: #fefeff;
}

.sync-reports .recent-panels {
    margin: 9px -15px;
}
.sync-reports .recent-panels .panel-body{
    padding: 0px;
}

.sync-reports .recent-panels table tr {
    border-bottom: 1px solid #dddddd;
}
.sync-reports .recent-panels table tr th{
    background: #f1f1f1;
}
.sync-reports .recent-panels table tr th,
.sync-reports .recent-panels table tr td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}



.sync-reports .recent-panels .panel-heading,
.sync-reports .recent-panels .panel-footer{
    background: white;
}

.sync-reports .recent-panels .btn-warning,
.sync-reports .recent-panels .btn-success{
    border: 1px solid transparent;
    padding: 2px 4px;
    border-radius: 6px;
}

/*.sync-reports .legend td{
    width: 10
}*/

.sync-reports .legend tr{
   border-top: 10px solid white;
}

.sync-reports .legend .leg-col-clr{
    width: 5%;
}

.sync-reports .legend .leg-col-lbl{
    width: 80%;
    padding: 2px 14px;
}

.sync-reports .legend .leg-col-clr:after{
    content: '\00a0 ';
    display: block;
    height: 8px;
    width: 20px;
}

.sync-reports .legend .leg-created:after{
    background: #5cb85c;
}
.sync-reports .legend .leg-updated:after{
    background: #5bc0de;
}
.sync-reports .legend .leg-failed:after{
    background: #d9534f;
}
/*Decision Field Mapping*/
.decision-field-mapping table{
    border-collapse: separate;
}

.decision-field-mapping .ctrl-main-btn{
    padding: 1px 6px;
}

.decision-field-mapping .field-mapping-heading{
    margin-bottom: -40px;
}
.decision-field-mapping .field-mapping-col-head{
    width:98%;
}
.decision-field-mapping .field-mapping-col-editing{
    margin-bottom: 42px;
    margin-top: -20px;
}
.decision-field-mapping .field-mapping-body{
    max-height: 140px;
    overflow-y: scroll;
}
/*Imports*/
.imports{
    max-height: none;
    overflow-y: none;
}

.imports .panel-footer .row{
    margin:0;
}

.imports .pagination-sm{
    margin:0;
}


/*.modal-view-segment .ui-grid-canvas .ui-grid-row,.modal-view-segment .ui-grid-row .ui-grid-cell{
    height: 22px;#f9f9f9
}*/
/*-------*/
@media (min-width: 768px){
    .col-sm-2 {
        width: 32px;
    }
}

.text-warning {
    color: red;
}

.text-success {
    color: green;
}

.text-info {
    color: grey;
}

.buttons-row {
    padding: 15px;
}

.btn-save {
    height: 25px;
}

.search-box {
    height: 35px;
}
