.navbar{
	color:black;
	background: #f5f5f5;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 11px;
	font-size:18px;
	font-weight:bold;
	-webkit-box-shadow: 0px 3px 13px 0px rgba(59,55,59,0.6);
	-moz-box-shadow: 0px 3px 13px 0px rgba(59,55,59,0.6);
	box-shadow: 0px 3px 13px 0px rgba(59,55,59,0.6);
}