<div class="sync-reports imports">
    <div class="container">
        <div>
            <h3 class="overview">Errors</h3> <span>showing {{Errors.data.length}} results of {{ Errors.totalErrorsCount }} errors</span>
        </div>
        <div class="row recent-panels">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>All Errors</b></div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <th>Sync Date</th>
                                <th>Status</th>
                                <th>Message</th>
                            </tr>
                            <tr ng-repeat="error in Errors.data">
                                <td>{{error.createdOn|date:"medium"}}</td>
                                <td>{{error.status}} </td>
                                <td>{{error.message}} </td>
                            </tr>
                            <tr ng-if="!Errors.data.length">
                                <td colspan="7" align="center"> No Errors</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <ul class="pagination pagination-sm pull-right">
                                <li ng-click="Errors.pageShiftPrev()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-triangle-left" ></span>
                                    </a>
                                </li>
                                <li ng-click="Errors.numPrev()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-chevron-left" ></span>
                                    </a>
                                </li>

                                <li ng-repeat = "num in Errors.paginationNumberSet.slice(Errors.pagesStart,Errors.pagesStart+Errors.pageOffset)" 
                                    ng-class="{'active':Errors.currentNum == num}" 
                                    ng-click="Errors.setPage(num)">
                                    <a href="">
                                        {{num}}
                                    </a>
                                </li>

                                <li ng-click="Errors.numNext()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-chevron-right" ></span>
                                    </a>
                                </li>
                                <li ng-click="Errors.pageShiftNext()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-triangle-right" ></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>