<div class="sync-reports imports">
    <div class="container">
        <div>
            <h3 class="overview">Imports</h3> <span>showing {{Imports.data.length}} results of {{ Imports.totalImportsCount }} imports</span>
        </div>
        <div class="row recent-panels">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>All Imports</b></div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <th>Sync Date</th>
                                <th class="text-center">Created</th>
                                <th class="text-center">Updated</th>
                                <th class="text-center">Failed</th>
                                <th class="text-center">Warning</th>
                                <th class="text-center">Sync Count</th>
                                <th>Sync Status</th>
                            </tr>
                            <tr ng-repeat="import in Imports.data">
                                <td>{{import.importedTime|date:"medium"}}</td>
                                <td class="text-center">{{import.created}} </td>
                                <td class="text-center">{{import.updated}} </td>
                                <td class="text-center">{{import.failed}} </td>
                                <td class="text-center">{{import.warning}} </td>
                                <td class="text-center">{{import.syncCount}} </td>
                                <td>
                                    <span class="btn-{{import.status}}">
                                        <span class="glyphicon " ng-class="{
                                            'glyphicon-warning-sign':(import.status == 'warning'),
                                            'glyphicon-ok-sign':(import.status == 'success')
                                        }"></span> {{import.status}}
                                    </span>
                                </td>
                            </tr>
                            <tr ng-if="!Imports.data.length">
                                <td colspan="7" align="center"> No Imports</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <ul class="pagination pagination-sm pull-right">
                                <li ng-click="Imports.pageShiftPrev()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-triangle-left" ></span>
                                    </a>
                                </li>
                                <li ng-click="Imports.numPrev()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-chevron-left" ></span>
                                    </a>
                                </li>

                                <li ng-repeat = "num in Imports.paginationNumberSet.slice(Imports.pagesStart,Imports.pagesStart+Imports.pageOffset)" 
                                    ng-class="{'active':Imports.currentNum == num}" 
                                    ng-click="Imports.setPage(num)">
                                    <a href="">
                                        {{num}}
                                    </a>
                                </li>

                                <li ng-click="Imports.numNext()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-chevron-right" ></span>
                                    </a>
                                </li>
                                <li ng-click="Imports.pageShiftNext()">
                                    <a href="">
                                        <span class="glyphicon glyphicon-triangle-right" ></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>