<div class="container-fluid feeder-pane" ng-click="Feeder.clicked($event)">

    <div class="row feeder-pane-header">
        <div class="draft-label pull-left" ng-class='{"activate-label":Feeder.executionStatus=="ACTIVATED"}'>
			{{(Feeder.executionStatus=="ACTIVATED")?'ACTIVE':Feeder.executionStatus}}
		</div>
        <!-- <input class="selectable" type="text" name="draftName" ng-model="Feeder.draftName"> -->
        <!-- <span class="error-msg">Please provide the Segment Name</span> -->
        <span ng-show="!license" class="text-warning">Your license has expired</span>

        <button type="button" ng-disabled="Feeder.getDisableSave()" ng-click="Feeder.saveSegment()" class="btn btn-default btn-sm feeder-btn pull-right">
            Save
        </button>
        <!-- <button type="button" ng-disabled="Feeder.getDisableSave() || Feeder.viewContactsDisable()" 
		class="btn btn-default btn-sm feeder-btn pull-right" ng-click="Feeder.modalViewSegmentMem()">
			View Contacts...
		</button>
		<div class="dropdown pull-right">
			<button class="btn btn-default btn-sm feeder-btn pull-right drops" ng-disabled="Feeder.getDisableSave()" type="button" data-toggle="dropdown"> 
				{{Feeder.setFrequency = (Feeder.setFrequency.length)?Feeder.setFrequency:Feeder.frequency[0]}}
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu frequency-menu">
			    <li role="presentation" ng-repeat="fr in Feeder.frequency" ng-click="Feeder.setFrequency = fr">
				    <a role="menuitem" tabindex="-1" >
				    	{{fr}}
				    </a>
			    </li>
			</ul>
		</div>
		<span class="pull-right">Frequency&nbsp;&nbsp;</span>

		<button type="button"
		class="btn btn-default btn-sm feeder-btn pull-right"
		ng-click="Feeder.modalViewExistingSegment()">
			View Existing Segments
		</button>
		<button type="button"
		class="btn btn-default btn-sm feeder-btn pull-right"
		ng-click="Feeder.modalSyncReports()">
			Sync Reports
		</button> -->
        <button type="button"
        class="btn btn-default btn-sm feeder-btn pull-right"
        ng-click="Feeder.modalDsSyncReports()">
            Sync Reports
        </button>
        <button type="button" class="btn btn-default btn-sm feeder-btn pull-right" ng-disabled="!Feeder.selObject.Object_Name" ng-click="Feeder.showFieldMapping()">
            Field Mapping
        </button>
    </div>
    <div class="row segmentation-loader">
        <div class="load-bar">
            <div class="bar"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-4 side-feeder-panes">
            <div class="row left-header text-center">
                <!-- <button type="button" ng-disabled="Feeder.getDisableSave() || Feeder.viewContactsDisable()"
				class="btn btn-default btn-sm feeder-btn pull-left" alt="contact-count"
				ng-click="Feeder.updateContactCount()"
				>
					<i class="fa fa-rotate-right turn50"></i>
				</button> -->
                <button type="button" popover-placement="right" uib-popover-template="'myPopoverTemplate.html'" popover-trigger="'outsideClick'" popover-is-open="Feeder.filtersTypeOpen" class="btn btn-default btn-sm pull-right feeder-btn" ng-disabled="!license || !Feeder.selObject">
                    <i class="fa fa-plus"></i>
                </button>
                <script type="text/ng-template" id="myPopoverTemplate.html">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 col-lg-6">
                            <div filter-options class="filter-options text-center" ng-click="  Feeder.setFilter(undefined, 'Filter');Feeder.filtersTypeOpen=!!0">
                                <img src="./images/filter.png">
                                <div>Filter Criteria</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6 col-lg-6">
                            <div filter-options class="filter-options text-center" ng-click="  Feeder.setFilter(undefined, 'SOQL');Feeder.filtersTypeOpen=!!0">
                                <img src="./images/filter.png">
                                <div>SOQL Criteria</div>
                            </div>
                        </div>
                    </div>
                </script>
                <!-- <div ng-show="Feeder.countProp"><b>{{Feeder.countProp.count}} contacts</b></div>
					<div ng-show="Feeder.countProp">{{Feeder.countProp.updatedOn|date:'M/d/yy h:mm a'}}</div>
					<div ng-show="!Feeder.countProp">---<br>Contact Count Not Available</div> -->
            </div>
            <!-- Filters List -->
            <div class="filter-panel" ng-repeat="fc in Feeder.filterCriterias" ng-class="(Feeder.selFilInd==$index)?'selected':''" ng-click="Feeder.selectFilter(fc,$index)" context-menu="Feeder.filterContext" model="fc">
                <div class="row">
                    <div>
                        <img src="./images/filter.png">
                    </div>
                    <div class="content filter-item" ng-init="fc.fcEditMode=false">
                        <div class="title" ng-show="!fc.fcEditMode" ng-dblclick="fc.fcEditMode=true">{{fc.name}}</div>
                        <input class="title-as-input selectable" type="" name="" ng-model="fc.name" ng-show="fc.fcEditMode" ng-blur="fc.fcEditMode=false">
                    </div>
                    <!-- <div class="counts">
						<div class=" text-center">{{(Feeder.countProp.counts)?Feeder.countProp.counts[$index]:'--'}}</div>
						<div class=" text-center">included</div>
					</div> -->
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="listValues.html">
            <ul class="dropdown-menu" role="listbox" ng-show="matches.length" ng-style="{top: positionInFeeder().top+'px', left: positionInFeeder().left+'px'}">
                <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                    <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
                </li>
            </ul>
        </script>

        <div class="{{Feeder.fdrGrndClass}} feeder-ground">
            <div class="queries common-pane-space query-dropped-empty-area" query-dragger ng-if="Feeder.selectedFilter.type == 'Filter'">
                <div query-dragger class="query-chain query-dropped-loaded-area" ng-repeat="qI in Feeder.queryItems" query-index="{{$index}}">
                    <div 
                        query-recursive 
                        object="qI"
                        page-type="{{(Feeder.sfCtrlStatus)?'decision':''}}"
                        sel-array-object="Feeder.selectedFilter" 
                        class="non-draggable">
                    </div>
                </div>
            </div>
            <div class="queries common-pane-space query-dropped-empty-area" query-dragger ng-if="Feeder.selectedFilter.type == 'SOQL'">
                <div query-dragger class="query-chain query-dropped-loaded-area">
                    <div query-soql object="Feeder.selectedFilter" class="non-draggable">
                    </div>
                </div>
            </div>

            <div class="text-center group" ng-show="Feeder.selectedFilter.type == 'Filter'">
                <span class="validation-text" ng-if="Feeder.selectedFilter.ambiguityExists">* Ambiguity Error </span>
                <button ng-show="Feeder.getUngroupEnable()" class="btn btn-default feeder-btn un-group" ng-click="Feeder.unGroup()">Ungroup</button>
                <button ng-hide="Feeder.getUngroupEnable()" ng-disabled="!Feeder.groupButtonEnable()" class="btn btn-default feeder-btn" ng-click="Feeder.groupQueries()">Group</button>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4 side-feeder-panes common-pane-space right-feeder-pane">
            <div class="form-group">
                <label for="user">Select External System</label>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="ext-systems" data-toggle="dropdown" ng-disabled="Feeder.freezeObject()">
                        <span class="pull-left">{{(Feeder.selExtSys.Description)?Feeder.selExtSys.Description:'&nbsp;';}}</span> <span class="dwn-arrow"></span>
                    </button>
                    <ul ng-show="Feeder.extSystems.length" class="dropdown-menu" role="menu" aria-labelledby="ext-systems">
                        <li role="presentation" ng-repeat="extSys in Feeder.extSystems" sel="extSys" ng-click="Feeder.getObjects(0,extSys);">
                            <a role="menuitem">{{extSys.Description}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="user">Select Object</label>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="ext-systems" data-toggle="dropdown" ng-disabled="!Feeder.selExtSys || Feeder.freezeObject()">
                        <span class="pull-left">
				    	{{(Feeder.selObject.Object_Name)?Feeder.selObject.Object_Name:'&nbsp;';}}
				    	</span>
                        <span class="dwn-arrow"></span>
                    </button>
                    <ul ng-show="Feeder.SFDCObjects.length" class="dropdown-menu decision-sel-fields" role="menu" aria-labelledby="ext-systems">
                        <li role="presentation" ng-repeat="object in Feeder.SFDCObjects" sel="object" ng-click="Feeder.onChangeObject(0,object);">
                            <a role="menuitem">{{object.Object_Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="grid-query" ng-if="Feeder.selectedFilter.type != 'SOQL' && Feeder.selectedFilter.selObject.Object_Name && Feeder.selFields.length" query-dragger>
                <li class="presentation grid-query-li" role="button" ng-repeat="crit in Feeder.criteriaOptions" ng-dblclick="Feeder.setQuery(crit)" index="{{$index}}">
                    <img ng-src="{{crit.imageSRC}}"> {{crit.actualName = crit.name.replace("(#objectName)", Feeder.selectedFilter.selObject.Object_Name)}}
                </li>
            </ul>
            <div ng-if="Feeder.selectedFilter.selObject.Object_Name && Feeder.invalidFieldsStat">
                Valid Fields are not available for the selected Object {{Feeder.selectedFilter.selObject.Object_Name}}
            </div>
        </div>
    </div>

    <div id="emailFields" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Choose Email Field</h4>
                </div>
                <div class="modal-body" ng-init="Feeder.selEmailFieldIndex = 0">
                    <table class="table table-striped" ng-if="Feeder.EmailFields.length">
                        <thead>
                            <tr>
                                <th>Source Field Name (SFDC {{Feeder.selObject.Object_Name}} fields)</th>
                                <th>Target Field Name (Eloqua Contact fields)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="es-row" ng-class="(Feeder.selEmailFieldIndex == $index)?'row-selected':''" ng-repeat="emailFields in Feeder.EmailFields" ng-click="Feeder.selEmailFieldIndex = $index">
                                <td>{{emailFields.emailFieldLabel}}</td>
                                <td>Email Address</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-disabled="Feeder.selEmailFieldIndex < 0" class="btn btn-default" data-dismiss="modal" ng-click="Feeder.saveEmailField(Feeder.selEmailFieldIndex)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>