<div class="modal-content decision-field-mapping">
    <div class="modal-header text-center">
        <button type="button" class="close" ng-click="fieldMapping.close()">&times;</button>
        <div class="stand-title">Field Mapping</div>
    </div>
    <div class="modal-body existing-segments">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Import Priority Value</strong>
                <table class="table table-striped table-list">
                    <tbody>
                        <tr ng-if="fieldMapping.importPriorityData.items.length">
                            <td class="mapped-fields-rows">
                                <input class="typeaheads form-control close-ctrl pull-left prior" ng-disabled="!fieldMapping.importPriorityData.items.length || fieldMapping.disablePriority" type="text" ng-model="fieldMapping.selPriority" uib-typeahead="priorDt as priorDt.name for priorDt in fieldMapping.importPriorityData.items| filter:$viewValue" typeahead-min-length="0" typeahead-on-select="fieldMapping.onSelectingPriority()" close-model="fieldMapping.selPriority" on-close="fieldMapping.emptyPriority()">
                                <span class="pull-left">X</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default frm-btn pull-left" ng-click="fieldMapping.setPriority()">Save</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" ng-disabled="!license" class="btn btn-default btn-sm add-button" ng-if="!fieldMapping.toggleFieldMaps" ng-click="fieldMapping.toggleFieldMaps = !fieldMapping.toggleFieldMaps">
                    <i class="fa fa-plus"></i>
                </button>

                <div class="field-mapping-heading">
                    <table class="table table-striped table-list field-mapping-col-head">
                        <thead>
                            <tr ng-if="fieldMapping.mappedContactFields.length||fieldMapping.toggleFieldMaps">
                                <th class="mapped-fields-row">
                                    Source Table
                                </th>
                                <th class="mapped-fields-row">
                                    Source Field Name (SFDC {{fieldMapping.selectedObject.Object_Name}} fields)
                                </th>
                                <th class="mapped-fields-row">
                                    Target Field Name (Eloqua Contact fields)
                                </th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-striped table-list field-mapping-col-editing">
                        <thead>
                            <!-- <tr ng-if="fieldMapping.mappedContactFields.length||fieldMapping.toggleFieldMaps">
                                <th class="mapped-fields-row">
                                    Source Table
                                </th>
                                <th class="mapped-fields-row">
                                    Source Field Name (SFDC {{fieldMapping.selectedObject.Object_Name}} fields)
                                </th>
                                <th class="mapped-fields-row">
                                    Target Field Name (Eloqua Contact fields)
                                </th>
                                <th>Action</th>
                                <th></th>
                            </tr> -->
                            <tr ng-if="fieldMapping.toggleFieldMaps">
                                <td class="mapped-fields-row">
                                    <input user-parent-control class="form-control user-parent-format" type="text" ng-model="fieldMapping.selParentFormat" setting-data="fieldMapping.setParentData" on-selecting-node="fieldMapping.getObjectParentFields" init-value="{{::fieldMapping.selectedObject.Object_Id}}">
                                    <div user-parent-control class="user-parent-struct admin-tree-view">
                                        <div class="admin-tree-body">
                                        </div>
                                    </div>
                                </td>
                                <td class="mapped-fields-rows">
                                    <script type="text/ng-template" id="sfdcField.html">
                                        <a class="typedField">
                                            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                            <span class="type">{{match.model.type}}</span>
                                        </a>
                                    </script>
                                    <input class="typeaheads form-control close-ctrl pull-left" ng-disabled="!fieldMapping.sdfcConFields.length" type="text" ng-model="fieldMapping.selSdfcObj" uib-typeahead="sdfcField as sdfcField.shownValue for sdfcField in fieldMapping.sdfcConFields|filter:{shownValue:$viewValue}" typeahead-min-length="0" close-model="fieldMapping.selSdfcObj" typeahead-template-url="sfdcField.html">
                                    <span class="pull-left">X</span>
                                </td>
                                <td class="mapped-fields-rows">
                                    <script type="text/ng-template" id="eloquaField.html">
                                        <a class="typedField">
                                            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                            <span class="type">{{match.model.dataType}}</span>
                                        </a>
                                    </script>
                                    <input class="typeaheads form-control close-ctrl pull-left" ng-disabled="!fieldMapping.eloquaFields.length" type="text" ng-model="fieldMapping.selElqObj" uib-typeahead="elqField as elqField.shownValue for elqField in fieldMapping.eloquaFields|filter:{shownValue:$viewValue} " typeahead-min-length="0" close-model="fieldMapping.selElqObj" on-close="fieldMapping.emptyElqField()" typeahead-template-url="eloquaField.html">
                                    <span class="pull-left">X</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default ctrl-main-btn" ng-disabled="!(fieldMapping.selSdfcObj.shownValue.length && fieldMapping.selElqObj.shownValue.length)" ng-click="fieldMapping.addMapping();fieldMapping.toggleFieldMaps=!fieldMapping.toggleFieldMaps">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" close-alert class="btn btn-danger ctrl-main-btn" ng-click="fieldMapping.toggleFieldMaps=!fieldMapping.toggleFieldMaps;fieldMapping.cancelFieldMapping()">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="!fieldMapping.mappedContactFields">
                                <td class="text-center" colspan="3"><img src="./images/spinny.gif"></td>
                            </tr>
                            <tr ng-if="!fieldMapping.toggleFieldMaps && (fieldMapping.mappedContactFields && !fieldMapping.mappedContactFields.length)">
                                <td class="text-center" colspan="3">
                                    No Mapped Fields Found
                                    <br> Click '+' to Add New
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="field-mapping-body">
                    <table class="table table-striped table-list">
                        <tbody>
                            <tr ng-repeat="mappedContactField in fieldMapping.mappedContactFields">
                                <td class="mapped-fields-row">
                                    {{(mappedContactField.Query_Relationship.length)?mappedContactField.Query_Relationship:fieldMapping.selectedObject.Object_Name}}
                                </td>
                                <td class="mapped-fields-row">
                                    {{mappedContactField.Source_Field_Name}}
                                </td>
                                <td class="mapped-fields-row">
                                    {{mappedContactField.Target_Field_Name}}
                                </td>
                                <td>
                                    <div class="dropdown">

                                        <button type="button" id="contactFieldMenu{{$index}}" class="btn btn-default btn-sm action dropdown-toggle" data-toggle="dropdown">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar ic-l"></span>
                                        </button>
                                        <ul class="dropdown-menu options" aria-labelledby="contactFieldMenu{{$index}}">
                                            <li ng-click="fieldMapping.confirmDeleteField($index,mappedContactField);" class="{{(!license || ($index == 0 && !fieldMapping.sfCtrlStatus))? 'disable-li': ''}}"><a>Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <span></span>
        <!-- <button type="button" class="btn btn-primary" ng-click="fieldMapping.saveSegment()"> Save</button> -->
        <button type="button" class="btn btn-primary"  ng-click="fieldMapping.close()"> Close</button>
    </div>
</div>