<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" id="decisionSettings">
                <div class="panel-heading">
                    <button type="button" class="close" close-alert ng-click="User.closePanel($event)">&times;</button>
                    <span>Decision Settings</span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-list">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        Note: 
                                        <ul>
                                            <li>
                                                Please use the credentials below to install the package in Salesforce
                                                <br>
                                                User Name:  {{User.selectedInstance.User_name}}
                                            </li>
                                            <li>Contact portQii Support after package installation</li>
                                        </ul>
                                        <!-- 1. Please use the credentials below to install the package in Salesforce -->

                                    </div>
                                    <br>
                                    <div class="padding-left-26">
                                        <a href="https://login.salesforce.com/packaging/installPackage.apexp?p0=04t7F000003ikzI" target="_blank">
                                            Install Controller Package
                                        </a>
                                    </div>
                                    <!-- <span>
                                        End User is {{(!User.decisionSettings.applyControllerStatus)?'not':'';}} ready to install Controller
                                    </span>
                                    <div class="pull-right">
                                        <switch id="enabled" name="enabled" ng-model="User.decisionSettings.applyControllerStatus"  on="Ready" off="Not Ready" class="green" ng-change="User.decisionSettings.changeStatus()"></switch>
                                    </div>
                                    <div ng-if="!User.decisionSettings.applyControllerStatus">
                                        <ul>
                                            <li>Display only those objects which have email Address</li>
                                            <li>Eloqua field comparison will not be present in decision service</li>
                                        </ul>
                                    </div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" id="importPriority">
                <div class="panel-heading">
                    <button type="button" class="close" close-alert ng-click="User.closePanel($event)">&times;</button>
                    <span>Import Priority Value</span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-list">
                        <tbody>
                            <tr ng-if="User.importPriorityData.items.length">
                                <td class="mapped-fields-rows">
                                    <input class="typeaheads form-control close-ctrl pull-left prior" ng-disabled="!User.importPriorityData.items.length || User.disablePriority" type="text" ng-model="User.selPriority" uib-typeahead="priorDt as priorDt.name for priorDt in User.importPriorityData.items| filter:$viewValue" typeahead-min-length="0" typeahead-on-select="User.onSelectingPriority()" close-model="User.selPriority" on-close="User.emptyPriority()">
                                    <span class="pull-left">X</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default frm-btn pull-left" ng-click="User.setPriority($event)">Save</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" id="fieldMapping">
                <div class="panel-body">
                    <button type="button" ng-disabled="!license" class="btn btn-default btn-sm add-button" ng-show="!User.toggleFieldMaps" ng-click="User.toggleFieldMaps = !User.toggleFieldMaps">
                    <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="close" close-alert ng-click="User.closePanel($event)">&times;</button>
                    <table class="table table-striped table-list">
                        <thead>
                            <tr ng-if="User.mappedContactFields.length">
                                <th class="mapped-fields-row">
                                    Source Table
                                </th>
                                <th class="mapped-fields-row">
                                    Source Field Name (SFDC {{User.selectedObject.Object_Name}} fields)
                                </th>
                                <th class="mapped-fields-row">
                                    Target Field Name (Eloqua Contact fields)
                                </th>
                                <th>Action</th>
                            </tr>
                            <tr ng-if="!User.mappedContactFields">
                                <td class="text-center" colspan="3"><img src="./images/spinny.gif"></td>
                            </tr>
                            <tr ng-if="User.mappedContactFields && !User.mappedContactFields.length">
                                <td class="text-center" colspan="3">
                                    No Mapped Fields Found<br> Click '+' to Add New
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="User.toggleFieldMaps">
                                <td class="mapped-fields-row">
                                    <input user-parent-control class="form-control user-parent-format" type="text" ng-model="User.selParentFormat" setting-data="User.setParentData" on-selecting-node="User.getObjectParentFields" init-value="{{::User.selectedObject.Object_Id}}">
                                    <div user-parent-control class="user-parent-struct admin-tree-view">
                                        <div class="admin-tree-body">
                                        </div>
                                    </div>
                                </td>
                                <td class="mapped-fields-rows">
                                    <script type="text/ng-template" id="sfdcField.html">
                                        <a class="typedField">
                                            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                            <span class="type">{{match.model.type}}</span>
                                        </a>
                                    </script>
                                    <input class="typeaheads form-control close-ctrl pull-left" ng-disabled="!User.sdfcConFields.length" type="text" ng-model="User.selSdfcObj" uib-typeahead="sdfcField as sdfcField.shownValue for sdfcField in User.sdfcConFields|filter:{shownValue:$viewValue}" typeahead-min-length="0" close-model="User.selSdfcObj"  on-close="User.emptySFDCField()" typeahead-template-url="sfdcField.html">
                                    <span class="pull-left">X</span>
                                </td>
                                <td class="mapped-fields-rows">
                                    <script type="text/ng-template" id="eloquaField.html">
                                        <a class="typedField">
                                            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                            <span class="type">{{match.model.dataType}}</span>
                                        </a>
                                    </script>
                                    <input class="typeaheads form-control close-ctrl pull-left" ng-disabled="!User.eloquaFields.length" type="text" ng-model="User.selElqObj" uib-typeahead="elqField as elqField.shownValue for elqField in User.eloquaFields|filter:{shownValue:$viewValue} " typeahead-min-length="0" close-model="User.selElqObj" on-close="User.emptyElqField()" typeahead-template-url="eloquaField.html">
                                    <span class="pull-left">X</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default frm-btn" ng-disabled="!(User.selSdfcObj.shownValue.length && User.selElqObj.shownValue.length)" ng-click="User.addMapping();User.toggleFieldMaps=!User.toggleFieldMaps">Add</button>
                                    <button type="button" close-alert class="btn btn-danger frm-btn" ng-click="User.toggleFieldMaps=!User.toggleFieldMaps;User.cancelFieldMapping()">Cancel</button>
                                </td>
                            </tr>
                            <tr ng-repeat="mappedContactField in User.mappedContactFields">
                                <td class="mapped-fields-row">
                                    {{(mappedContactField.Query_Relationship.length)?mappedContactField.Query_Relationship:User.selectedObject.Object_Name}}
                                </td>
                                <td class="mapped-fields-row">
                                    {{mappedContactField.Source_Field_Name}}
                                </td>
                                <td class="mapped-fields-row">
                                    {{mappedContactField.Target_Field_Name}}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" id="contactFieldMenu{{$index}}" class="btn btn-default btn-sm action dropdown-toggle" data-toggle="dropdown" ng-disabled="$index==0">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar ic-l"></span>
                                        </button>
                                        <ul class="dropdown-menu options" aria-labelledby="contactFieldMenu{{$index}}">
                                            <li ng-click="User.confirmDeleteField($index,mappedContactField);" class="{{!license? 'disable-li': ''}}"><a>Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" id="instanceConfiguration">
                <div class="panel-body">
                    <button type="button" close-alert ng-disabled="!license" class="btn btn-default btn-sm add-button" ng-show="(!User.fieldMappingOn)?!User.toggleNewExtObj:false" ng-click="User.toggleNewExtObj = !User.toggleNewExtObj">
                    <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="close" close-alert ng-disabled="User.fieldMappingOn" ng-click="User.closePanel($event)">&times;</button>
                    <table class="table table-striped table-list">
                        <thead>
                            <tr ng-if="User.extSystemObjects.length">
                                <th>External System Objects (containing Email Address)</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-if="!User.extSystemObjects">
                                <td class="text-center" colspan="2"><img src="./images/spinny.gif"></td>
                            </tr>
                            <tr ng-if="User.extSystemObjects && !User.extSystemObjects.length">
                                <td class="text-center" colspan="2">
                                    No External System Objects Found<br> Click '+' to Add New
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="User.toggleNewExtObj">
                                <td>
                                    <input ng-disabled="!User.existingObjects.length" type="text" id="existingObjectsMenu" ng-model="User.selExtObj" uib-typeahead="existObj as existObj.Object_Label for existObj in User.existingObjects| filter:$viewValue" class="form-control close-ctrl" typeahead-min-length="0" typeahead-on-select="User.onSelectingObject()" close-model="User.selExtObj" on-close="User.emptySelExtObj()">
                                    <span>X</span>
                                </td>
                                <td>
                                    <button id="addObject" type="button" class="btn btn-default frm-btn" ng-disabled="!User.selExtObj.Object_Label.length" ng-click="User.addExtObject();User.toggleNewExtObj = !User.toggleNewExtObj">Add</button>
                                    <button id="addObject" type="button" class="btn btn-danger frm-btn" ng-click="User.toggleNewExtObj = !User.toggleNewExtObj" close-alert>Cancel</button>
                                </td>
                            </tr>
                            <tr class="es-row" ng-repeat="extSystemObject in User.extSystemObjects" ng-class="($index == User.selectedObjIndex)?'row-selected':'';">
                                <td>
                                    <span ng-if="($index == User.selectedObjIndex)" class="fa fa-circle fa-blue"></span> {{extSystemObject.Object_Name}}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" id="objectMenu{{$index}}" class="btn btn-default btn-sm action dropdown-toggle" data-toggle="dropdown" ng-disabled="User.sysObjsDisable">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar ic-l"></span>
                                        </button>
                                        <ul class="dropdown-menu options" aria-labelledby="objectMenu{{$index}}">
                                            <!-- <li ng-click="User.sysObjDrop($index,extSystemObject,'find_parents')"><a>Find Parents</a></li> -->
                                            <li ng-click="User.sysObjDrop($index,extSystemObject,'field_mapping')"><a>Field Mapping</a></li>
                                            <li class="{{!license? 'disable-li': ''}}" ng-click="User.sysObjDrop($index,extSystemObject,'set_import_priority')"><a>Set Import Priority</a></li>
                                            <li class="{{!license? 'disable-li': ''}}" ng-click="User.sysObjDrop($index,extSystemObject,'delete')"><a>Delete</a></li>
                                        </ul>
                                        <!-- <ul class="dropdown-menu options" aria-labelledby="objectMenu{{$index}}">
                                            <li ng-click="User.toggleNewExtObj = !User.toggleNewExtObj;User.mapInstanceObject($index,extSystemObject);"><a>Field Mapping</a></li>
                                            <li ng-click="User.toggleNewExtObj = !User.toggleNewExtObj;User.importPriority($index,extSystemObject);"><a>Add Import Priority</a></li>
                                            <li ng-click="User.deleteInstanceObject($index,extSystemObject)"><a>Delete</a></li>
                                            </ul> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default" id="addExternalSystemForm">
                <div class="panel-body">
                    <button type="button" class="close" close-alert ng-disabled="User.fieldMappingOn" ng-click="User.newUserCancel()">&times;</button>
                    <form class="seg-form" name="userform">
                        <div class="form-group">
                            <label for="user">Select Source System<span>*</span></label>
                            <input name="selSourceSystem" type="text" class="form-control typeaheads" ng-model="User.newUser.selSourceSystem" uib-typeahead="srcSys as srcSys.Source_System_Name for srcSys in User.srcSystems" class="form-control" typeahead-min-length="0" ng-disabled="true">
                        </div>
                        <div class="form-group">
                            <label for="user">Source Instance<span>*</span></label>
                            <input name="selSysIns" type="text" class="form-control typeaheads" ng-model="User.newUser.selSysIns" uib-typeahead="sysIns as sysIns.Source_System_Instance_Name for sysIns in User.sysInstances | filter:{Source_System_id:User.newUser.selSourceSystem.Source_System_Id}" class="form-control" typeahead-min-length="0" ng-disabled="!User.newUser.selSourceSystem.Source_System_Id">
                        </div>
                        <div class="form-group">
                            <label for="user">Username<span>*</span></label>
                            <input type="text" class="form-control" id="username" name="username" ng-model="User.newUser.username">
                        </div>
                        <div class="form-group" ng-if="!User.newUser.categoryID">
                            <label for="pwd">Password<span>*</span></label>
                            <input type="password" class="form-control" id="pwd" name="pwd" ng-model="User.newUser.pwd">
                        </div>
                        <div class="form-group" ng-if="!User.newUser.categoryID">
                            <label for="pwd">Security Token<span>*</span></label>
                            <input type="text" class="form-control" id="token" name="token" masked-password-field ng-model="User.newUser.token">
                        </div>
                        <!-- <div class="form-group"> -->
                        <!-- <label for="pwd">Data Sync Status<span>*</span></label> -->
                        <!-- <input type="text" class="form-control" id="desc" name="desc" ng-model="User.newUser.syncStatus"> -->
                        <!-- </div> -->
                        <!-- <div class="form-group"> -->
                        <!-- <label for="pwd">Last Sync Date<span>*</span></label> -->
                        <!-- <input type="text" class="form-control" id="desc" name="desc" ng-model="User.newUser.lastSync"> -->
                        <!-- </div> -->
                        <div class="form-group">
                            <label for="pwd">External System Name<span>*</span></label>
                            <input type="text" class="form-control" id="desc" name="desc" ng-model="User.newUser.desc">
                        </div>
                        <div class="form-group">
                            <label for="user">Meta-Data Sync Status</label>
                            <input type="text" class="form-control" ng-model="User.newUser.syncStatus" class="form-control" typeahead-min-length="0" ng-disabled="true">
                        </div>
                        <div class="form-group">
                            <label for="user">Connection Status</label>
                            <input type="text" class="form-control" ng-model="User.newUser.status" class="form-control" typeahead-min-length="0" ng-disabled="true">
                        </div>
                        <div class="form-group">
                            <label for="user">Notification Email<span>*</span></label>
                            <input type="email" class="form-control" id="email" name="email" ng-model="User.newUser.email" required>
                        </div>
                        <div class="form-group" ng-if="User.newUser.categoryID">
                            <button type="button" class="btn btn-default" style="width: 150px;" ng-click="User.managecredentials = !User.managecredentials">Manage credentials</button>
                        </div>
                        <div uib-collapse="User.managecredentials" ng-if="User.newUser.categoryID">
                            <div class="form-group">
                                <label for="pwd">Password<span>*</span></label>
                                <input type="password" class="form-control" id="pwd" name="pwd" ng-model="User.newUser.pwd">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Security Token<span>*</span></label>
                                <input type="text" class="form-control" id="token" name="token" masked-password-field ng-model="User.newUser.token">
                            </div>
                        </div>
                        <div class="row buttons-row">
                            <button close-alert type="button" class="btn btn-default frm-btn savebtn" ng-click="User.newUserSave(User.newUser,$event)" ng-disabled="(User.disableSave(User.newUser) || !license) || userform.$pristine">Save</button>
                            <button close-alert type="button" class="btn btn-danger frm-btn cancelbtn" ng-click="User.newUserCancel()">Cancel</button>
                            <button close-alert type="button" class="btn btn-primary frm-btn pull-right syncButton" ng-click="User.syncSfdcData()" ng-disabled="User.syncDisStat() || !license || User.newUser.status != 'Active'">Sync Data</button>
                            <button ng-if="User.newUser.categoryID" close-alert type="button" class="btn btn-primary frm-btn pull-right testConn" ng-click="User.testUserConnection()" ng-disabled="!license">Test Connection</button>
                            <button ng-if="!User.newUser.categoryID" close-alert type="button" class="btn btn-primary frm-btn pull-right testConn" ng-click="User.testUserConnection()" ng-disabled="!(User.newUser.username && User.newUser.pwd && User.newUser.token) || !license">Test Connection</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" close-alert id="plus" ng-disabled="!license" class="btn btn-default btn-sm add-button" ng-if="User.btnAddVis" ng-click="User.presentAddExternalSystem(); User.btnAddVis = false; User.formType = 'New';"><i class="fa fa-plus"></i></button>
        </div>
        <div class="col-md-12">
            <img name="loader" src="./images/tile.png">
            <div class="panel panel-default">
                <div class="panel-body" id="panelDefault">
                    <div class="text-center" ng-if="!User.extSystems">
                        <img name="loader" src="./images/spinny.gif">
                    </div>
                    <table class="table table-striped" ng-if="User.extSystems.length">
                        <thead>
                            <tr>
                                <th>External System</th>
                                <th>Username</th>
                                <th>External System Name</th>
                                <th>Meta-Data Sync Status</th>
                                <th>Last Sync Date</th>
                                <th>Source Instance</th>
                                <th>Connection Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="es-row" ng-repeat="extSystem in User.extSystems" ng-class="($index == User.selectedextSysIndex)?'row-selected':'';">
                                <td>
                                    <span ng-if="($index == User.selectedextSysIndex)" class="fa fa-circle fa-blue"></span> {{extSystem.sourceSystemName}}
                                </td>
                                <td>{{extSystem.User_name}}</td>
                                <td>{{extSystem.Description}}</td>
                                <td>{{extSystem.Data_Sync_Status}}</td>
                                <td>{{(extSystem.Last_Sync_Date_Time.indexOf('-')==-1)?(extSystem.Last_Sync_Date_Time *1000 |date : "MMM d, y h:mm:ss a"):'----' }}</td>
                                <td>{{extSystem.sourceSystemInstanceName}}</td>
                                <td ng-init="extSystem.StatusBool = extSystem.Status == 'Active'? true: false">
                                    <switch ng-if="extSystem.Status == 'Active' || extSystem.Status == 'Inactive'" id="enabled" name="enabled" ng-model="extSystem.StatusBool" disabled="extSystem.Status == 'Failed' || extSystem.Status == 'New' || !User.btnAddVis" on="Active" off="Inactive" class="green" ng-change="User.confirmdeactivate(extSystem, $index)"></switch>
                                    <span ng-if="extSystem.Status != 'Active' && extSystem.Status != 'Inactive'">{{extSystem.Status}}</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" id="menu{{$index}}" class="btn btn-default btn-sm action dropdown-toggle" data-toggle="dropdown" ng-disabled="!User.btnAddVis">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar ic-l"></span>
                                        </button>
                                        <ul class="dropdown-menu options" aria-labelledby="menu{{$index}}">
                                            <li close-alert ng-click="User.editExtSource($index,extSystem);"><a>Edit</a></li>
                                            <li close-alert ng-click="User.deleteUser(extSystem,$index);"><a>Delete</a></li>
                                            <li close-alert class="{{(extSystem.Data_Sync_Status != 'Sync Complete')?'disable-li':'';}}" ng-click="(extSystem.Data_Sync_Status != 'Sync Complete') ? 0 : User.instanceConfiguration($index,extSystem);"><a>Configuration</a></li>
                                            <li close-alert ng-click="User.decisionSettings.openConfig($index,extSystem);"><a>Decision Settings</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="User.extSystems.length==0">
                        <center>
                            No External Systems Found<br> Click '+' To Add New
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Single User">
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-md-12 col-lg-3">
                            <angucomplete id="users" placeholder="Search eloqua user" pause="400" selectedobject="User.eloquaUser" url="/instance/users?query=" datafield="elements" titlefield="name" descriptionfield="emailAddress" inputclass="form-control angu-search search-box" />
                        </div>
                        <div class="col-md-2 col-lg-2" style="padding-top: 2px;">
                            <button type="button" close-alert id="plus" ng-disabled="!license" class="btn btn-default btn-sm add-button" ng-click="User.postAcl(User.eloquaUser)"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Multiple Users">
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-md-12 col-lg-3">
                            <input type="text" ng-model="User.eloquaQuery" placeholder="Search eloqua users" class="form-control search-box" />
                        </div>
                        <div class="col-md-2 col-lg-2" style="padding-top: 2px;">
                            <button type="button" close-alert id="plus" ng-disabled="!license" class="btn btn-default add-button" ng-click="User.searchuser(User.eloquaQuery, 1)">Search</button>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body" id="panelDefault">
                                    <h4>Eloqua Users</h4>
                                    <div ng-if="User.searchingusers">
                                        <center>
                                            <img name="loader" src="./images/spinny.gif">
                                        </center>
                                    </div>
                                    <div class="alert alert-{{User.aclFailedProp.messageType}} panel-body alert-body" ng-if="User.aclFailedProp.status">
                                        <a href="#" class="close" data-dismiss="alert" ng-click="User.aclFailedProp={};">&times;</a>
                                        <strong>{{User.aclFailedProp.strongMessage}}</strong> {{User.aclFailedProp.message}} <span class="text-warning">{{User.aclFailedProp.errorMessage? ', ' + User.aclFailedProp.errorMessage : ''}}</span>
                                    </div>
                                    <table class="table table-striped" ng-if="User.eloquausers.length">
                                        <thead>
                                            <tr>
                                                <th>User Id</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="es-row" ng-repeat="eloquauser in User.eloquausers">
                                                <td>{{eloquauser.id}}</td>
                                                <td>{{eloquauser.name}}</td>
                                                <td>{{eloquauser.emailAddress}}</td>
                                                <td>
                                                    <button ng-if="User.checkAcl(eloquauser.id)" type="button" ng-disabled="!license" class="btn btn-default" ng-click="User.postAcl(eloquauser, true, $index)"><i class="fa fa-check"></i></button>
                                                    <button ng-if="!User.checkAcl(eloquauser.id)" type="button" ng-disabled="!license" class="btn btn-default" ng-click="User.postAcl(eloquauser, true, $index)"><i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-lg-6 col-md-6" ng-if="User.eloquausers.length">
                                        <ul uib-pagination total-items="User.totaleloquapages" ng-model="User.eloquapage" ng-change="User.searchuser(User.eloquaQuery, User.eloquapage)"></ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6" style="padding: 30px;" ng-if="User.eloquausers.length">
                                        Showing from {{((User.eloquapage - 1 )* 10) + 1}} to {{User.eloquapage * 10 <= User.totaleloquapages ? User.eloquapage * 10: User.totaleloquapages}} of {{User.totaleloquapages}} results 
                                    </div>
                                    <div ng-if="User.eloquausers.length==0 && !User.searchingusers">
                                        <center>
                                            No result found for {{User.eloquaQuery}}
                                        </center>
                                    </div>
                                    <div ng-if="User.eloquausers == null">
                                        <center>
                                            Please search to add user permissions
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" id="panelDefault">
                    <h4>User Permissions</h4>
                    <table class="table table-striped" ng-if="User.acls.length">
                        <thead>
                            <tr>
                                <th>User Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Added on</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="es-row" ng-repeat="acl in User.acls">
                                <td>{{acl.UserId}}</td>
                                <td>{{acl.Name}}</td>
                                <td>{{acl.Email}}</td>
                                <td>{{(acl.Created | date : "MMM d, y h:mm:ss a") }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" id="aclmenu{{$index}}" class="btn btn-default btn-sm action dropdown-toggle" data-toggle="dropdown" ng-disabled="!User.btnAddVis">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar ic-l"></span>
                                        </button>
                                        <ul class="dropdown-menu options" aria-labelledby="aclmenu{{$index}}">
                                            <li close-alert ng-click="User.deleteAcl(acl.UserId,$index);"><a>Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-lg-6 col-md-6" ng-if="User.acls.length">
                        <ul uib-pagination total-items="User.acltotal" ng-model="User.aclpage" ng-change="User.getAcl(User.aclpage)"></ul>
                    </div>
                    <div class="col-lg-6 col-md-6" style="padding: 30px;" ng-if="User.acls.length">
                        Showing from {{((User.aclpage - 1 )* 10) + 1}} to {{User.aclpage * 10 <= User.acltotal? User.aclpage * 10: User.acltotal}} of {{User.acltotal}} results 
                    </div>
                    <div ng-if="User.acls.length==0">
                        <center>
                            No Access control data<br> search to add new
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div id="dependencies" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dependencies</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" ng-if="User.dependencies.length">
                            <thead>
                                <tr>
                                    <th>Campaign ID</th>
                                    <th>Campaign Status</th>
                                    <th>Campaign Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="es-row" ng-repeat="dependency in User.dependencies">
                                    <td>{{(dependency.campaignId!=0)?dependency.campaignId:''}}</td>
                                    <td>{{dependency.campaignStatus}}</td>
                                    <td>{{(dependency.campaignName.length)?dependency.campaignName:'Unsaved Campaign';}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="User.proceedConfirmation" ng-click="User.proceedAnyway()">Proceed Anyway</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="instancedependencies" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Feeder Instance Dependencies</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" ng-if="User.fielddependencies.length">
                            <thead>
                                <tr>
                                    <th>Campaign ID</th>
                                    <th>Campaign Status</th>
                                    <th>Campaign Name</th>
                                    <th>Segment Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="es-row" ng-repeat="dependency in User.fielddependencies">
                                    <td>{{(dependency.Campaign_Id!=0)?dependency.Campaign_Id:''}}</td>
                                    <td>{{dependency.Status}}</td>
                                    <td>{{(dependency.Campaign_Name.length)?dependency.Campaign_Name:'Unsaved Campaign';}}</td>
                                    <td>{{User.selectedFieldSegments[dependency.Segment_Id].SegmentName}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 ng-if="!User.fielddependencies.length">
                        There are no dependencies
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="User.toggleStatus(User.extSystems[User.selectedInstanceIndex])">Proceed Anyway</button>
                        <button type="button" ng-click="User.canceldeactivate()" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="fielddependencies" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Feeder Instance Dependencies</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped" ng-if="User.fielddependencies.length">
                            <thead>
                                <tr>
                                    <th>Campaign ID</th>
                                    <th>Campaign Status</th>
                                    <th>Campaign Name</th>
                                    <th>Segment Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="es-row" ng-repeat="dependency in User.fielddependencies">
                                    <td>{{(dependency.Campaign_Id!=0)?dependency.Campaign_Id:''}}</td>
                                    <td>{{dependency.Status}}</td>
                                    <td>{{(dependency.Campaign_Name.length)?dependency.Campaign_Name:'Unsaved Campaign';}}</td>
                                    <td>{{User.selectedFieldSegments[dependency.Segment_Id].SegmentName}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 ng-if="!User.fielddependencies.length">
                        There are no dependencies
                        </h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="User.proceedAnywayDeleteField()">Proceed Anyway</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>