<div class="not" ng-if="(cmpElqFields.pageType === 'decision' && cmpElqFields.eloquaQueryStatus)">
    <span>
        <input type="checkbox" ng-disabled="cmpElqFields.disableIsNot()" name="" ng-model="cmpElqFields.object.isNot">
    </span>
    <span class="text-not">
        not
    </span>
    <span>
        
        <input class="typeaheads query-options form-control t02" type="text" placeholder="Select an operator" ng-model="cmpElqFields.object.selElqCmpOperator" ng-disabled="!cmpElqFields.object.selectedField.name" typeahead-select-on-blur="true"
        spellcheck="false"  typeahead-popup-template-url="listValues.html" typeahead-on-select="cmpElqFields.onAssignOperator()"
        uib-typeahead="eco as eco.operatorLabel for eco in cmpElqFields.eloquaComparingOperators | filter:{type:cmpElqFields.object.selectedField.type}  | orderBy:'operatorLabel' | filter:$viewValue "  typeahead-min-length="0"
        ng-blur="cmpElqFields.operatorOut()">

    </span>
    <span class="drop" drop-array="cmpElqFields.eloquaComparingOperators">
        <span class="btn btn-default arrow-down">
            <i class="fa fa-caret-down"></i>
        </span>
    </span>
</div>

<div class="eloqua-fields-confirmation">
    <div ng-if="cmpElqFields.pageType === 'decision'">
        <span>
            <input type="checkbox" ng-disabled="false" name="" ng-model="cmpElqFields.eloquaQueryStatus" ng-change="cmpElqFields.changeStatus()">
        </span>
        <span>Compare with Eloqua Fields</span>
    </div>
</div>
<div ng-if="(cmpElqFields.pageType === 'decision' && cmpElqFields.eloquaQueryStatus)">
    <div>
        <span>
            <input ng-disabled="!cmpElqFields.object.selElqCmpOperator" class="typeaheads query-options form-control t01" type="text" placeholder="Select an eloqua field" ng-model="cmpElqFields.object.selectedElqField" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="cmpElqFields.onSelField()" 
            uib-typeahead="elqField as elqField.name for elqField in cmpElqFields.eloquaFields | orderBy : 'name' | filter:$viewValue "  typeahead-min-length="0"
            ng-blur="cmpElqFields.fieldOut()">
        </span>
        <span class="drop" drop-array="cmpElqFields.eloquaFields">
            <span class="btn btn-default arrow-down">
                <i class="fa fa-caret-down"></i>
            </span>
        </span>
    </div>
</div>
