<script type="text/ng-template" id="dsSyncReports.html">
    <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" ng-click="DSSyncReports.close()">&times;</button>
            <div class="stand-title">View Sync Reports</div>
        </div>
        <div class="modal-body sync-reports">
            <div class="container">
                <h4>
                    Sync Reports
                </h4>

                <div class="well" ng-if="DSSyncReports.categoryDateData.length">
                    <div class="row">
                        <div class="col-md-8 col-sm-9 nav-execution">
                            <div class="text-center">
                                <button type="button" class="btn btn-default pull-left" ng-click="DSSyncReports.prevWeekExecution()"> Prev</button>
                                <span>{{DSSyncReports.thisWeek}}</span>
                                <button type="button" class="btn btn-default pull-right" ng-click="DSSyncReports.nextWeekExecution()"> Next</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-9">
                            <div  multi-data-type-bar2 options="DSSyncReports.barChartOptions" data="DSSyncReports.categoryDateData" format="DSSyncReports.format" on-data-select="DSSyncReports.renderTimeCategorizedExecutions">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 legend">
                            <table>
                                <tr>
                                    <td class="leg-col-clr leg-created"></td>
                                    <td class="leg-col-lbl">Yes Count</td>
                                </tr>
                                <tr>
                                    <td class="leg-col-clr leg-updated"></td>
                                    <td class="leg-col-lbl">No Count</td>
                                </tr>
                                <tr>
                                    <td class="leg-col-clr leg-failed"></td>
                                    <td class="leg-col-lbl">Errored Count</td>
                                </tr>
                                <!-- <tr>
                                    <td class="leg-created"></td>
                                    <td>Warning</td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row recent-panels">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>Syncs</b></div>
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <th>Sync Date</th>
                                        <th class="text-center">Yes</th>
                                        <th class="text-center">No </th>
                                        <th class="text-center">Errored</th>
                                        <th>Sync Status</th>
                                    </tr>
                                    <tr ng-repeat="syncReport in DSSyncReports.syncData">
                                        <td>{{syncReport.startTime|date:"medium"}}</td>
                                        <td class="text-center">{{syncReport.yesCount     || 0 }} </td>
                                        <td class="text-center">{{syncReport.noCount      || 0 }} </td>
                                        <td class="text-center">{{syncReport.erroredCount || 0 }} </td>
                                        <td>
                                            <span class="btn-{{syncReport.status}}">
                                                <span class="glyphicon " ng-class="{
                                                    'glyphicon-warning-sign':(syncReport.status == 'warning'),
                                                    'glyphicon-ok-sign':(syncReport.status == 'success')
                                                }"></span> {{syncReport.status}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr ng-if="!DSSyncReports.syncData.length">
                                        <td colspan="7" align="center"> No Sync Reports </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- <div class="panel-footer"><a href="#/Imports" target="_blank"> View all imports</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default dismiss" ng-click="DSSyncReports.close()"> Close</button>
        </div>
    </div>
</script>