<div class="modal fade" id="informationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="stand-title">{{POPUP.header}}</div>
            </div>
            <div class="modal-body">
                {{POPUP.message}}
                <div ng-if="POPUP.messageList">
                    <span ng-repeat="msg in POPUP.messageList track by $index">
                        {{$index}}. {{msg}}<br>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="POPUP.ok();POPUP.hide();">{{POPUP.okText?POPUP.okText:'Ok'}}</button>
                <button ng-if="!POPUP.hideCancel" type="button" class="btn btn-primary" ng-click="POPUP.cancel();POPUP.hide();">Cancel</button>
            </div>
        </div>

    </div>
</div>