<div class="query-body">
    <div class="content">
        <div class="row soql-pane-space">

            <div class="col-md-12 header">
                <div class="row">
                    <div class="col-xs-12">
                        SOQL query | SELECT * FROM {{SoqlQuery.object.selObject.Object_Name}} WHERE
                    </div>
                    <div class="col-xs-12 margin-top-5px">
                        <button class="btn btn-default btn-sm feeder-btn" type="button" ng-click="SoqlQuery.popPrChBox($event)">
                            Choose Object or Field
                            <span class="caret"></span>
                        </button>
                        <!-- <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-click="SoqlQuery.appendLastSync()"><span>sinceLastSync</span></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div>
                    <textarea soql-editor ng-change="object.validated = false;" class="form-control" 
                        ng-model="SoqlQuery.object.query" 
                        ng-cursor-pos="SoqlQuery.cursorPosition" 
                        rows="3" 
                        cols="100">

                    </textarea>
                    <p class="text-warning" ng-show="SoqlQuery.object.validated && !object.valid">{{SoqlQuery.errorMsg}}</p>
                    <p class="text-warning" ng-show="SoqlQuery.object.validated && !object.valid">This SOQL query is not valid</p>
                    <p class="text-success" ng-show="SoqlQuery.object.validated && object.valid">This SOQL query is valid</p>
                    <p class="text-info" ng-show="!SoqlQuery.object.validated">This SOQL query is not validated, please click validate SOQL</p>

                </div>

                <div class="popover fade bottom in" role="tooltip" id="prChildBox">
                    <div class="arrow"></div>
                    <div class="popover-content clear-both">
                        <div class="soql-panel">
                            <div class="soql-options-pane-box" >
                                <span>
                                    <input class="typeaheads query-options form-control t01" type="text" placeholder="Select a field" ng-model="SoqlQuery.appendableField" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="SoqlQuery.onSelField()" 
                                    uib-typeahead="field as field.label for field in SoqlQuery.object.selObjSOQLFields | orderBy : 'label' | filter:$viewValue "  typeahead-min-length="0"
                                    ng-disabled="!SoqlQuery.object.selObjSOQLFields.length"
                                    ng-blur="SoqlQuery.fieldOut()"
                                    page="soql-query"
                                    typeahead-template-url="soqlSfdcField.html"
                                    >

                                    <script type="text/ng-template" id="soqlSfdcField.html">
                                        <a class="typedField">
                                            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                            <span class="type">{{match.model.type}}</span>
                                        </a>
                                    </script>

                                </span>
                                <span class="drop" drop-array="QueryTpl.fields">
                                    <span class="btn btn-default arrow-down">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div ng-if="SoqlQuery.object.selObject" ng-init="SoqlQuery.onInitObjects()">
                            <div class="soql-options-pane-box" >
                                <span>
                                    <input ng-show="false" soql-parent-control class="form-control soql-parent-format soql-get-parent" type="text"
                                        ng-model="SoqlQuery.selObjectFormat"
                                        setting-data="SoqlQuery.setParentData"
                                        on-selecting-node="SoqlQuery.getObjectParentFields"
                                        init-value="{{::SoqlQuery.object.selObject.Object_Name}}">

                                    <div soql-parent-control class="soql-parent-struct soql-tree-view">
                                        <div class="admin-tree-body">
                                        </div>
                                    </div>
                                </span>
                            </div>                
                        </div>
                        <div>
                            <!-- <div class="soql-insert-actions text-right">
                                <button class="btn btn-default btn-sm feeder-btn" ng-click="SoqlQuery.appendObject()">Insert Object</button>
                            </div>

                            <div class="soql-insert-actions text-right">
                                <button class="btn btn-default btn-sm feeder-btn" ng-click="SoqlQuery.appendField()">Insert Field</button>
                            </div> -->
                            <!-- <div class="soql-insert-actions text-right">
                                <button class="btn btn-default btn-sm feeder-btn" ng-click="SoqlQuery.setDefaultObject()">Set Default Object</button>
                            </div> -->
                        </div>
                    </div>
                    <div class="popover-content clear-both">
                        <div class="soql-insert-actions text-right">
                            <button class="btn btn-default btn-sm feeder-btn" ng-click="SoqlQuery.appendToQuery()">Insert</button>
                        </div>
                    </div>
                </div>
                <div class="row options-calls">
                    <!-- <button ng-disabled="!SoqlQuery.object.selObject" ng-click="SoqlQuery.popPrChBox($event)" class="btn btn-default btn-sm feeder-btn" style="">Choose Object or Field</button> -->
                    <!-- <button ng-disabled="!SoqlQuery.object.selObject || !SoqlQuery.object.selExtSys" ng-click="SoqlQuery.appendLastSync()" class="btn btn-default btn-sm feeder-btn" style="">Since Last Sync</button> -->
                    <div class="col-xs-6">
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm feeder-btn dropdown-toggle" type="button" data-toggle="dropdown"
                                ng-disabled="!SoqlQuery.object.selObject || !SoqlQuery.object.selExtSys">
                                Since Last Sync <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu since-last-sync-options">
                                <li ng-click="SoqlQuery.appendLastSync(1)"><a><span>for <b>datetime</b> field</span></a></li>
                                <li ng-click="SoqlQuery.appendLastSync(2)"><a><span>for <b>date</b> field</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button ng-disabled="!SoqlQuery.object.selObject || !SoqlQuery.object.selExtSys" ng-click="SoqlQuery.validateSOQL(object)" class="btn btn-default btn-sm feeder-btn" style="">Validate SOQL</button>
                    </div>


                </div>
                <div>
                    
                </div>

                <!-- <div class="validate-soql">
                </div> -->
                <!-- TODO APP -->

            </div>
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <strong>Warning!</strong> Salesforce doesn&apos;t allow subqueries to be included with OR conditions. Please ensure when you are using a SOQL Criteria in conjunction with Filter Criteria, you don&apos;t query child objects in SOQL criteria.
                </div>
            </div>
        </div>

    </div>
</div>