
<div class="query-body" ng-if="QueryTpl.object.type=='element' || QueryTpl.object.type=='elqcmp'">
    <div ng-show="QueryTpl.object.logicalOperator">
        <button type="button" class="btn btn-default btn-sm feeder-btn" ng-click="QueryTpl.switchOperator()">
            {{QueryTpl.object.logicalOperator}}
        </button>
    </div>
    <div role="button" class="query-item query-drop-indicator-place" context-menu="QueryTpl.queryContext" ng-class="{'selected-query':QueryTpl.toBeSanitized.isSelected}" ng-click="QueryTpl.selectThisQueryElement($event)" ng-dblclick="QueryTpl.showHide($event);">
        <div class="img-qi">
            <img ng-src="{{QueryTpl.toBeSanitized.imageSRC}}">
        </div>
        <div class="content" ng-if="!(QueryTpl.cmpElqFields.pageType === 'decision' && QueryTpl.cmpElqFields.eloquaQueryStatus)">
            <strong ng-bind="QueryTpl.toBeSanitized.actualName"></strong>
            <!-- {{object.queryIndex}} -->
            <div class="query-item-defination" ng-if="!(QueryTpl.object.value || QueryTpl.object.start) && (QueryTpl.valuesUIStatus !== 1)">
                Double-click to choose a field...
            </div>

            <div class="query-item-defination" ng-if="!QueryTpl.object.value && QueryTpl.valuesUIStatus == 1">
                {{QueryTpl.toBeSanitized.objectName}}s who have a "{{QueryTpl.object.selectedField.label}}" field
                <span ng-if="!QueryTpl.object.isNot">
                    {{QueryTpl.object.assignedOperator.msg}}
                </span>
                <span ng-if="QueryTpl.object.isNot">
                    {{QueryTpl.object.assignedOperator.msgNot}}
                </span>
                <span ng-if="QueryTpl.object.assignedOperator.Field_Type_Name == 'boolean'">
                    {{QueryTpl.object.assignedOperator.Operator_Label}}
                </span>
            </div>

            <div class="query-item-defination" ng-if="QueryTpl.object.value  || QueryTpl.object.start">
                {{QueryTpl.toBeSanitized.objectName}}s who have a "{{QueryTpl.object.selectedField.label}}" field
                <span ng-if="!QueryTpl.object.isNot">
                    {{QueryTpl.object.assignedOperator.msg}}
                </span>
                <span ng-if="QueryTpl.object.isNot">
                    {{QueryTpl.object.assignedOperator.msgNot}}
                </span>
                <span ng-if="QueryTpl.object.value.length">
                    {{QueryTpl.object.value|sfdcDate:QueryTpl.object.selectedField.type}}
                </span>
                <span ng-if="(QueryTpl.object.value|typeDate) && QueryTpl.object.value && QueryTpl.object.assignedOperator.Operator_Label != 'in'">
                    {{QueryTpl.object.value|date:'MM/dd/yyyy'}}
                </span>
                <span ng-if="QueryTpl.object.start.length">
                    "{{QueryTpl.object.start}}" and "{{QueryTpl.object.end}}"
                </span>
                <span ng-if="(QueryTpl.object.start|typeDate) && QueryTpl.object.start">
                    {{QueryTpl.object.start|date:'MM/dd/yyyy'}} and {{QueryTpl.object.end|date:'MM/dd/yyyy'}}
                </span>
            </div>

        </div>
        <div class="content" ng-if="(QueryTpl.cmpElqFields.pageType === 'decision' && QueryTpl.cmpElqFields.eloquaQueryStatus)">
            <strong ng-bind="QueryTpl.toBeSanitized.actualName"></strong>
            <!-- {{object.queryIndex}} -->
            <div class="query-item-defination" ng-if="!(QueryTpl.object.selectedElqField)">
                Double-click to choose a field...
            </div>

            <div class="query-item-defination" ng-if="QueryTpl.object.selectedElqField">
                {{QueryTpl.toBeSanitized.objectName}}s who have a "{{QueryTpl.object.selectedField.label}}" field
                <span ng-if="!QueryTpl.object.isNot">
                    {{QueryTpl.object.selElqCmpOperator.msg}}
                </span>
                <span ng-if="QueryTpl.object.isNot">
                    {{QueryTpl.object.selElqCmpOperator.msgNot}}
                </span>
                <span>
                    "{{QueryTpl.object.selectedElqField.name}}"
                </span>
            </div>

        </div>
    </div>

    <div ng-show="QueryTpl.toBeSanitized.show" class="popover bottom in query-popup  {{(QueryTpl.toBeSanitized.id==2)?'has-rel':'';}}" role="tooltip">
        <div class="arrow"></div>
        <div class="popover-content">
            <div class="content" ng-if="QueryTpl.toBeSanitized.id==1">
                <div class="header">
                    {{QueryTpl.toBeSanitized.objectName}}s whose {{QueryTpl.toBeSanitized.objectName}} field...
                    <br>
                </div>
                <div>
                    <span>
                        <input class="typeaheads query-options form-control t01" type="text" placeholder="Select a field" ng-model="QueryTpl.object.selectedField" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelField()" 
                        uib-typeahead="field as field.label for field in QueryTpl.fields | orderBy : 'label' | filter:$viewValue "  typeahead-min-length="0"
                        ng-blur="QueryTpl.fieldOut()">
                    </span>
                    <span class="drop" drop-array="QueryTpl.fields">
                        <span class="btn btn-default arrow-down">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </span>
                </div>
                <div class="not" ng-if="!(QueryTpl.cmpElqFields.pageType === 'decision' && QueryTpl.cmpElqFields.eloquaQueryStatus)">
                    <span>
                        <input type="checkbox" ng-disabled="QueryTpl.disableIsNot()" name="" ng-model="QueryTpl.object.isNot">
                    </span>
                    <span class="text-not">
                        not
                    </span>
                    <span>
                        <input class="typeaheads query-options form-control t02" type="text" placeholder="Select an operator" ng-model="QueryTpl.object.assignedOperator" ng-disabled="!QueryTpl.object.selectedField.name" typeahead-select-on-blur="true"
                        spellcheck="false"  typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onAssignOperator()"
                        uib-typeahead="ao as ao.Operator_Label for ao in QueryTpl.assignOperators  | orderBy:'Operator_Label'| filter:{Field_Type_Name:QueryTpl.object.selectedField.type}:true | filter:$viewValue "  typeahead-min-length="0"
                        ng-blur="QueryTpl.operatorOut()">
                    </span>
                    <span class="drop" drop-array="QueryTpl.assignOperators">
                        <span class="btn btn-default arrow-down">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </span>
                </div>
                <div ng-if="QueryTpl.cmpElqFields.pageType === 'decision'" cmp-elq-fields="QueryTpl.cmpElqFields">
                </div>


                <!-- <div compare-eloqua-fields
                    page-type="QueryTpl.pageType",
                    selected-elq-field="QueryTpl.object.selectedElqField",
                    eloqua-fields="QueryTpl.eloquaFields"
                    eloqua-query-status="QueryTpl.eloquaQueryStatus"
                >
                    
                </div> -->



                <div ng-if="!(QueryTpl.cmpElqFields.pageType === 'decision' && QueryTpl.cmpElqFields.eloquaQueryStatus)">
                    <div>
                        <div ng-if="QueryTpl.valuesUIStatus==2">
                            <input type="text" class="form-control value" placeholder="Enter the value" ng-model="QueryTpl.object.value">
                        </div>
                        <div class="text-center two-inputs num" ng-if="QueryTpl.valuesUIStatus==3">
                            <input type="text" class="form-control value between" ng-model="QueryTpl.object.start">
                            <span>and</span>
                            <input type="text" class="form-control value between" ng-model="QueryTpl.object.end">
                        </div>
                        <div ng-if="QueryTpl.valuesUIStatus==4">
                            <span>
                                <input class="typeaheads form-control t01 query-date" uib-datepicker-popup="MM/dd/yyyy" 
                                ng-model="QueryTpl.object.value" is-open="QueryTpl.dateOpen"
                                datepicker-options="QueryTpl.dateOptions" ng-required="true" close-text="Close">
                            </span>
                            <span class="drop" ng-click="QueryTpl.dateOpen = !QueryTpl.dateOpen">
                                <span class="btn btn-default arrow-down">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </span>
                        </div>
                        <div class="text-center two-inputs" ng-if="QueryTpl.valuesUIStatus==5">
                            <input class="form-control value between query-date" uib-datepicker-popup="MM/dd/yyyy" ng-model="QueryTpl.object.start" is-open="QueryTpl.dateOpenStart" datepicker-options="QueryTpl.dateOptions" ng-required="true" close-text="Close">

                            <span class="drop" ng-click="QueryTpl.dateOpenStart =!QueryTpl.dateOpenStart">
                                <span class="btn btn-default arrow-down">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </span>
                            <span>and</span>
                            <div class="text-center two-inputs">
                                <input class="form-control value between  query-date" uib-datepicker-popup="MM/dd/yyyy" ng-model="QueryTpl.object.end" is-open="QueryTpl.dateOpenEnd" datepicker-options="QueryTpl.dateOptions" ng-required="true" close-text="Close">

                                <span class="drop" ng-click="QueryTpl.dateOpenEnd =!QueryTpl.dateOpenEnd">
                                <span class="btn btn-default arrow-down">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="QueryTpl.valuesUIStatus == 6">
                        <span>
                            <input class="typeaheads query-options form-control t01" type="text" placeholder="Select from picklist" ng-model="QueryTpl.pickedValue" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelPickList()" 
                            uib-typeahead="pl as pl.label for pl in QueryTpl.pickedList | filter:$viewValue "  typeahead-min-length="0"
                            ng-blur="QueryTpl.selectedPicklist()">
                        </span>
                        <span class="drop" drop-array="QueryTpl.fields">
                            <span class="btn btn-default arrow-down">
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </span>
                    </div>
                    <div ng-if="QueryTpl.valuesUIStatus == 7" ng-init="QueryTpl.initDynamicDay(1);">
                        <span>
                            <input class="typeaheads query-options form-control t01" type="text" ng-model="QueryTpl.object.value" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelDynDate()" 
                            uib-typeahead="dtLabel as dtLabel for dtLabel in QueryTpl.dynDays | filter:$viewValue "  typeahead-min-length="0"
                            ng-blur="QueryTpl.selDynDate()">
                        </span>
                        <span class="drop" drop-array="QueryTpl.dynDays">
                            <span class="btn btn-default arrow-down">
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </span>
                    </div>
                    <div ng-if="QueryTpl.valuesUIStatus == 8" ng-init="QueryTpl.initDynamicDay(2);">
                        <div class="dyn-days pull-left">
                            <span>
                                <input class="typeaheads query-options form-control t01" type="text" ng-model="QueryTpl.object.start" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelDynDate()" 
                                uib-typeahead="dtLabel as dtLabel for dtLabel in QueryTpl.dynDays | filter:$viewValue "  typeahead-min-length="0"
                                ng-blur="QueryTpl.selDynDate()">
                            </span>
                            <span class="drop" drop-array="QueryTpl.dynDays">
                                <span class="btn btn-default arrow-down">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </span>
                            <span class="and"> and</span>
                        </div>
                        <div class="dyn-days pull-right">
                            <span>
                                <input class="typeaheads query-options form-control t01" type="text" ng-model="QueryTpl.object.end" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelDynDate()" 
                                uib-typeahead="dtLabel as dtLabel for dtLabel in QueryTpl.dynDays | filter:$viewValue "  typeahead-min-length="0"
                                ng-blur="QueryTpl.selDynDate()">
                            </span>
                            <span class="drop" drop-array="QueryTpl.dynDays">
                                <span class="btn btn-default arrow-down">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div ng-if="QueryTpl.valuesUIStatus == 9" ng-init="QueryTpl.initDurationTime();">
                        <span>
                            <input class="form-control num-date-count" ng-change="QueryTpl.changeDurationTime()" 
                            ng-model="QueryTpl.durationCount">
                        </span>
                        <span>
                            <input class="typeaheads query-options form-control t01 num-date-unit" type="text" ng-model="QueryTpl.durationUnit" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.changeDurationTime()" 
                            uib-typeahead="dTime as dTime for dTime in QueryTpl.durationTimes | filter:$viewValue "  typeahead-min-length="0"
                            ng-blur="QueryTpl.changeDurationTime()">
                        </span>
                        <span class="drop" drop-array="QueryTpl.dynDays">
                            <span class="btn btn-default arrow-down">
                                <i class="fa fa-caret-down"></i>
                            </span>
                        </span>
                    </div>
                    <div ng-if="QueryTpl.valuesUIStatus == 11">
                        <input type="text" class="form-control value" placeholder="Enter the values separated by comma" ng-model="QueryTpl.object.value">
                    </div>
                    <div ng-if="QueryTpl.valuesUIStatus == 12">
                        <select multiple chosen width="'100%'" ng-model="QueryTpl.object.value" ng-options="option.label as option.label for option in QueryTpl.pickedList">
                        </select>
                    </div>
                </div>


            </div>
            <div class="content" ng-if="QueryTpl.toBeSanitized.id == 2 || QueryTpl.toBeSanitized.id == 3">

                <!-- <div class="header" ng-hide="QueryTpl.parRelHeader">
                    Click on {{QueryTpl.toBeSanitized.objectName}}s parent Object to select a field...
                </div>
                <div class="header" ng-show="QueryTpl.parRelHeader">
                    {{QueryTpl.toBeSanitized.objectName}}s whose "{{QueryTpl.parRelHeader}}" field...
                </div> -->

                <div>
                    <span>
                        <input ng-disabled="!(QueryTpl.selParentStatus && QueryTpl.fields.length)" class="typeaheads query-options form-control t01" type="text" placeholder="Select a field" ng-model="QueryTpl.object.selectedField" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelField()" 
                        uib-typeahead="field as field.label for field in QueryTpl.fields | orderBy : 'label' | filter:$viewValue "  typeahead-min-length="0"
                        ng-blur="QueryTpl.fieldOut()">
                    </span>
                    <span class="drop" drop-array="QueryTpl.fields">
                        <span class="btn btn-default arrow-down">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </span>
                </div>
                <div class="not" ng-if="!(QueryTpl.cmpElqFields.pageType === 'decision' && QueryTpl.cmpElqFields.eloquaQueryStatus)">
                    <span>
                        <input type="checkbox" name=""  ng-disabled="QueryTpl.disableIsNot()" ng-model="QueryTpl.object.isNot">
                    </span>
                    <span class="text-not">
                        not
                    </span>
                    <span>
                        <input class="typeaheads query-options form-control t02" type="text" placeholder="Select an operator" ng-model="QueryTpl.object.assignedOperator" ng-disabled="!QueryTpl.object.selectedField.name" typeahead-select-on-blur="true"
                        spellcheck="false"  typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onAssignOperator()"
                        uib-typeahead="ao as ao.Operator_Label for ao in QueryTpl.assignOperators | orderBy:'Operator_Label' |filter:{Field_Type_Name:QueryTpl.object.selectedField.type}:true | filter:$viewValue "  typeahead-min-length="0"
                        ng-blur="QueryTpl.operatorOut()">
                    </span>
                    <span class="drop" drop-array="QueryTpl.assignOperators">
                        <span class="btn btn-default arrow-down">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </span>
                </div>

                <div ng-if="QueryTpl.cmpElqFields.pageType === 'decision'" cmp-elq-fields="QueryTpl.cmpElqFields">
                </div>
                
                <div ng-if="!(QueryTpl.cmpElqFields.pageType === 'decision' && QueryTpl.cmpElqFields.eloquaQueryStatus)">
                    <div ng-if="QueryTpl.object.selectedField && QueryTpl.object.assignedOperator">
                        <div ng-if="QueryTpl.valuesUIStatus==2">
                            <input type="text" class="form-control value" placeholder="Enter the value" ng-model="QueryTpl.object.value">
                        </div>
                        <div class="text-center two-inputs" ng-if="QueryTpl.valuesUIStatus==3">
                            <input type="text" class="form-control value between" ng-model="QueryTpl.object.start">
                            <span>and</span>
                            <input type="text" class="form-control value between" ng-model="QueryTpl.object.end">
                        </div>

                        <div ng-if="QueryTpl.valuesUIStatus == 4">
                            <span>
                                <input class="typeaheads form-control t01 query-date" uib-datepicker-popup="MM/dd/yyyy" 
                                ng-model="QueryTpl.object.value" is-open="QueryTpl.dateOpen" showWeeks="false"
                                datepicker-options="QueryTpl.dateOptions" ng-required="true" close-text="Close">
                            </span>
                            <span class="drop" ng-click="QueryTpl.dateOpen = !QueryTpl.dateOpen">
                                <span class="btn btn-default arrow-down">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </span>
                        </div>
                        <div ng-if="QueryTpl.valuesUIStatus == 5" class="text-center two-inputs">
                            <input class="form-control value between query-date" uib-datepicker-popup="MM/dd/yyyy" ng-model="QueryTpl.object.start" is-open="QueryTpl.dateOpenStart" datepicker-options="QueryTpl.dateOptions" ng-required="true" close-text="Close">

                            <span class="drop" ng-click="QueryTpl.dateOpenStart =!QueryTpl.dateOpenStart">
                                    <span class="btn btn-default arrow-down">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                            </span>
                            <span>and</span>
                            <div class="text-center two-inputs" ng-if="QueryTpl.valuesUIStatus==5">
                                <input class="form-control value between query-date" uib-datepicker-popup="MM/dd/yyyy" ng-model="QueryTpl.object.end" is-open="QueryTpl.dateOpenEnd" datepicker-options="QueryTpl.dateOptions" ng-required="true" close-text="Close">

                                <span class="drop" ng-click="QueryTpl.dateOpenEnd =!QueryTpl.dateOpenEnd">
                                <span class="btn btn-default arrow-down">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                </span>
                            </div>
                        </div>
                        <div ng-if="QueryTpl.valuesUIStatus == 6">
                            <span>
                                <input class="typeaheads query-options form-control t01" type="text" placeholder="Select from picklist" ng-model="QueryTpl.pickedValue" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelPickList()" 
                                uib-typeahead="pl as pl.label for pl in QueryTpl.pickedList | filter:$viewValue "  typeahead-min-length="0"
                                ng-blur="QueryTpl.selectedPicklist()">
                            </span>
                            <span class="drop" drop-array="QueryTpl.fields">
                                <span class="btn btn-default arrow-down">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </span>
                        </div>
                        <div ng-if="QueryTpl.valuesUIStatus == 7" ng-init="QueryTpl.initDynamicDay(1);">
                            <span>
                                <input class="typeaheads query-options form-control t01" type="text" ng-model="QueryTpl.object.value" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelDynDate()" 
                                uib-typeahead="dtLabel as dtLabel for dtLabel in QueryTpl.dynDays | filter:$viewValue "  typeahead-min-length="0"
                                ng-blur="QueryTpl.selDynDate()">
                            </span>
                            <span class="drop" drop-array="QueryTpl.dynDays">
                                <span class="btn btn-default arrow-down">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </span>
                        </div>
                        <div ng-if="QueryTpl.valuesUIStatus == 8" ng-init="QueryTpl.initDynamicDay(2);">
                            <div class="dyn-days pull-left">
                                <span>
                                    <input class="typeaheads query-options form-control t01" type="text" ng-model="QueryTpl.object.start" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelDynDate()" 
                                    uib-typeahead="dtLabel as dtLabel for dtLabel in QueryTpl.dynDays | filter:$viewValue "  typeahead-min-length="0"
                                    ng-blur="QueryTpl.selDynDate()">
                                </span>
                                <span class="drop" drop-array="QueryTpl.dynDays">
                                    <span class="btn btn-default arrow-down">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </div>
                            <div class="dyn-days pull-right">
                                <span>
                                    <input class="typeaheads query-options form-control t01" type="text" ng-model="QueryTpl.object.end" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.onSelDynDate()" 
                                    uib-typeahead="dtLabel as dtLabel for dtLabel in QueryTpl.dynDays | filter:$viewValue "  typeahead-min-length="0"
                                    ng-blur="QueryTpl.selDynDate()">
                                </span>
                                <span class="drop" drop-array="QueryTpl.dynDays">
                                    <span class="btn btn-default arrow-down">
                                        <i class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div ng-if="QueryTpl.valuesUIStatus == 9" ng-init="QueryTpl.initDurationTime();">
                            <span>
                                <input class="form-control num-date-count" ng-change="QueryTpl.changeDurationTime()" 
                                ng-model="QueryTpl.durationCount">
                            </span>
                            <span>
                                <input class="typeaheads query-options form-control t01 num-date-unit" type="text" ng-model="QueryTpl.durationUnit" spellcheck="false" typeahead-popup-template-url="listValues.html" typeahead-on-select="QueryTpl.changeDurationTime()" 
                                uib-typeahead="dTime as dTime for dTime in QueryTpl.durationTimes | filter:$viewValue "  typeahead-min-length="0"
                                ng-blur="QueryTpl.changeDurationTime()">
                            </span>
                            <span class="drop" drop-array="QueryTpl.dynDays">
                                <span class="btn btn-default arrow-down">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </span>
                        </div>
                        <div ng-if="QueryTpl.valuesUIStatus == 11">
                            <input type="text" class="form-control value" placeholder="Enter the values separated by comma" ng-model="QueryTpl.object.value">
                        </div>
                        <div ng-if="QueryTpl.valuesUIStatus == 12">
                            <select multiple chosen width="'100%'" ng-model="QueryTpl.object.value" ng-options="option.label as option.value for option in QueryTpl.pickedList">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tree-area">
                    <div id="queryTree-{{QueryTpl.treeViewStruct.id}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="query-group" ng-if="QueryTpl.object.type=='group'">

    <div ng-if="QueryTpl.object.logicalOperator">
        <button type="button" class="btn btn-default btn-sm feeder-btn" ng-click="QueryTpl.switchOperator()">
            {{QueryTpl.object.logicalOperator}}
        </button>
    </div>
    <div class="indents-start" ng-class="{'selected-group':QueryTpl.object.toBeSanitized.isSelected}" ng-click="QueryTpl.selectThisQueryElement($event)">(</div>
    <div query-dragger class="indentation query-dropped-group-area" ng-repeat="qIt in QueryTpl.object.elements ">
        <div query-recursive object="qIt" 
        group-id="QueryTpl.object.toBeSanitized.groupID" 
        sel-array-object="QueryTpl.object" 
        parent-object="QueryTpl.selArrayObject" 
        page-type="decision"
        class="non-draggable">
        </div>
    </div>
    <div class="indents-end" ng-class="{'selected-group':QueryTpl.object.toBeSanitized.isSelected}" ng-click="QueryTpl.selectThisQueryElement($event)">)</div>
</div>