<script type="text/ng-template" id="viewSyncReports.html">
    <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" ng-click="SyncReports.close()">&times;</button>
            <div class="stand-title">View Sync Reports</div>
        </div>
        <div class="modal-body sync-reports">
            <div class="container">
                <div>
                    <h3 class="overview">Overview</h3>
                </div>
                <div class="well numbers-box">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="text-center">
                                <div><h3 class="total-imported">{{SyncReports.executionNumbers.totalImported||0}}</h3></div>
                                <div>TOTAL IMPORTED</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <table >
                                <tr>
                                    <td class="record-process-label">Created</td>
                                    <td align="right">{{SyncReports.executionNumbers.totalCreated||0}}</td>
                                </tr>
                                <tr>
                                    <td class="record-process-label">Updated</td>
                                    <td align="right">{{SyncReports.executionNumbers.totalUpdated||0}}</td>
                                </tr>
                                <tr>
                                    <td class="record-process-label">Failed</td>
                                    <td align="right">{{SyncReports.executionNumbers.totalFailed||0}}</td>
                                </tr>
                                <tr>
                                    <td class="record-process-label">Warning</td>
                                    <td align="right">{{SyncReports.executionNumbers.totalWarning||0}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            
                            <div class="text-center">
                                <div><h3 class="total-exported">0</h3></div>
                                <div>TOTAL EXPORTED</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <table >
                                <tr>
                                    <td class="record-process-label">Created</td>
                                    <td align="right">0</td>
                                </tr>
                                <tr>
                                    <td class="record-process-label">Updated</td>
                                    <td align="right">0</td>
                                </tr>
                                <tr>
                                    <td class="record-process-label">Failed</td>
                                    <td align="right">0</td>
                                </tr>
                                <tr>
                                    <td class="record-process-label">Warning</td>
                                    <td align="right">0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="well" ng-if="SyncReports.categoryDateData.length">
                    <div class="row">
                        <div class="col-md-8 col-sm-9 nav-execution">
                            <div class="text-center">
                                <button type="button" class="btn btn-default pull-left" ng-click="SyncReports.prevWeekExecution()"> Prev</button>
                                <span>{{SyncReports.thisWeek}}</span>
                                <button ng-disabled="SyncReports.disableNextKey" type="button" class="btn btn-default pull-right" ng-click="SyncReports.nextWeekExecution()"> Next</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-9">
                            <div  multi-data-type-bar options="SyncReports.barChartOptions" data="SyncReports.categoryDateData" format="SyncReports.format" on-data-select="SyncReports.renderTimeCategorizedExecutions">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 legend">
                            <table>
                                <tr>
                                    <td class="leg-col-clr leg-created"></td>
                                    <td class="leg-col-lbl">Import : Created</td>
                                </tr>
                                <tr>
                                    <td class="leg-col-clr leg-updated"></td>
                                    <td class="leg-col-lbl">Import : Updated</td>
                                </tr>
                                <tr>
                                    <td class="leg-col-clr leg-failed"></td>
                                    <td class="leg-col-lbl">Import : Failed</td>
                                </tr>
                                <!-- <tr>
                                    <td class="leg-created"></td>
                                    <td>Warning</td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row recent-panels">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>Recent Imports</b></div>
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <th>Sync Date</th>
                                        <th class="text-center">Created</th>
                                        <th class="text-center">Updated</th>
                                        <th class="text-center">Failed</th>
                                        <th class="text-center">Warning</th>
                                        <th class="text-center">Sync Count</th>
                                        <th class="text-center">Sync ID</th>
                                        <th>Sync Status</th>
                                    </tr>
                                    <tr ng-repeat="recentImport in SyncReports.recentImports">
                                        <td>{{recentImport.importedTime|date:"medium"}}</td>
                                        <td class="text-center">{{recentImport.created}} </td>
                                        <td class="text-center">{{recentImport.updated}} </td>
                                        <td class="text-center">{{recentImport.failed}} </td>
                                        <td class="text-center">{{recentImport.warning}} </td>
                                        <td class="text-center">{{recentImport.syncCount}} </td>
                                        <td class="text-center">{{recentImport.syncUri.replace('/syncs/','')}} </td>
                                        <td>
                                            <span class="btn-{{recentImport.status}}">
                                                <span class="glyphicon " ng-class="{
                                                    'glyphicon-warning-sign':(recentImport.status == 'warning'),
                                                    'glyphicon-ok-sign':(recentImport.status == 'success')
                                                }"></span> {{recentImport.status}}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr ng-if="!SyncReports.recentImports.length">
                                        <td colspan="7" align="center"> No Recent Imports</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer"><a href="#/Imports" target="_blank"> View all imports</a></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>Recent Errors</b></div>
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <th>Sync Date</th>
                                        <th>Status</th>
                                        <th>Message</th>
                                    </tr>
                                    <tr ng-repeat="recentError in SyncReports.recentErrors">
                                        <td>{{recentError.createdOn|date:"medium"}}</td>
                                        <td>{{recentError.status}} </td>
                                        <td>{{recentError.message}} </td>
                                    </tr>
                                    <tr ng-if="!SyncReports.recentErrors.length">
                                        <td colspan="3" align="center"> No Recent Errors</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer"><a href="#/Errors" target="_blank"> View all errors</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default dismiss" ng-click="SyncReports.close()"> Close</button>
        </div>
    </div>
</script>