<script type="text/ng-template" id="viewSegmentMembers.html">
    <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" ng-click="SegmentMembers.close()">&times;</button>
            <div class="stand-title">View Segment Members</div>
        </div>
        <div class="modal-body">
            <div class="data">
                <div class="data-head-info">
                    <div class="row">
                        <div class="pull-left">
                            <!-- <p>Segment Name: {{::SegmentMembers.name}}</p> -->
                            <p>Displaying {{SegmentMembers.gridOptions.data.length}} of {{SegmentMembers.gridOptions.data.length}} matching contact(s)</p>
                        </div>
                        <div class="pull-right">
                            <p><input class="form-control" type="text" name="" placeholder="Enter search term" ng-disabled="!SegmentMembers.wholeSetData.length" ng-keyup="SegmentMembers.search()" ng-model="SegmentMembers.searchItem"></p>
                            
                        </div>
                    </div>
                </div>
                <div class="table-data" ng-if="SegmentMembers.gridOptions.data.length">
                    <div ui-grid="SegmentMembers.gridOptions" class="grid" ui-grid-resize-columns ui-grid-move-columns></div>
                </div>
                <div class="table-data" ng-if="!SegmentMembers.gridOptions.data.length">
                    No Records found
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default pull-left"> Export..</button> -->
            <button type="button" class="btn btn-default dismiss" ng-click="SegmentMembers.close()"> Close</button>
        </div>
    </div>
</script>