<script type="text/ng-template" id="viewExistingSegments.html">
    <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" ng-click="ExistingSegmentsView.close()">&times;</button>
            <div class="stand-title">View Existing Segments</div>
        </div>
        <div class="modal-body existing-segments">
            <div class="container">
                <div class="panel panel-default">
                    <div class="col-md-12 well">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 col-xs-3">
                                    <input class="form-control" ng-model="ExistingSegmentsView.searchText" type="" name="" placeholder="Search for Segment" ng-keyup="ExistingSegmentsView.search()">
                                </div>
                            </div>
                        </div>
                        <div ng-if="ExistingSegmentsView.searchText" class="col-md-3">
                            Total Segments found: {{ExistingSegmentsView.ExistingSegments.length}}
                        </div>
                    </div>
                    <div>
                        <table class="table table-striped" ng-if="ExistingSegmentsView.ExistingSegments.length">
                            <thead>
                                <tr>
                                    <th class="seg-col" ng-click="ExistingSegmentsView.sort('segmentName')">
                                        Segment 
                                        <span class="glyphicon {{ExistingSegmentsView.icon('segmentName')}}">
                                        </span>
                                    </th>
                                    <th class="seg-col" ng-click="ExistingSegmentsView.sort('createdOn')">
                                        Created On 
                                        <span class="glyphicon {{ExistingSegmentsView.icon('createdOn')}}">
                                        </span>
                                    </th>
                                    <th class="seg-col" ng-click="ExistingSegmentsView.sort('createdBy')">
                                        Created By 
                                        <span class="glyphicon {{ExistingSegmentsView.icon('createdBy')}}">
                                        </span>
                                    </th>
                                    <th class="seg-col" ng-click="ExistingSegmentsView.sort('modifiedAt')">
                                        Modified At
                                        <span class="glyphicon {{ExistingSegmentsView.icon('modifiedAt')}}">
                                        </span>
                                    </th>
                                    <th class="seg-col" ng-click="ExistingSegmentsView.sort('modifiedBy')">
                                        Modified By
                                        <span class="glyphicon {{ExistingSegmentsView.icon('modifiedBy')}}">
                                        </span>
                                    </th>
                                    <th>&nbsp;&nbsp;</th>
                                </tr>
                            </thead>
                        </table>
                        <div ng-if="!ExistingSegmentsView.ExistingSegments.length" class="text-center-te">
                            No Segments found
                        </div>
                    </div>
                    <div class="segments-list">
                        <table class="table table-striped" ng-if="ExistingSegmentsView.ExistingSegments.length">
                            <tbody>
                                <tr class="exseg-row" ng-repeat="exstSeg in ExistingSegmentsView.ExistingSegments" ng-class="($index == ExistingSegmentsView.selSegmentIndex)?'row-selected':'';" ng-click="ExistingSegmentsView.selectSegment($index,exstSeg)">
                                    <td class="seg-col first-col">
                                        {{exstSeg.segmentName}}
                                    </td>
                                    <td class="seg-col">
                                        {{exstSeg.createdOn|date:"M/d/yyyy h:mm a"}}
                                    </td>
                                    <td class="seg-col">
                                        {{exstSeg.createdBy}}
                                    </td>
                                    <td class="seg-col">
                                        {{exstSeg.modifiedAt|date:"M/d/yyyy h:mm a"}}
                                    </td>
                                    <td class="seg-col" colspan="2">
                                        {{exstSeg.modifiedBy}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-disabled="ExistingSegmentsView.saveDis()" ng-click="ExistingSegmentsView.useSegment()"> Copy Segment</button>
            <button type="button" class="btn btn-default dismiss" ng-click="ExistingSegmentsView.close()"> Close</button>
        </div>
    </div>
</script>